{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Error! we do not know which website or app you are trying to access
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    


        {% from 'back-link/macro.njk' import backLink %}
        {{ backLink({
        "href": "/",
        "text": "Back to: [relevant transaction]"
        }) }}
        
        <h1 class="nhsuk-heading-l">We do not know which website or app you are trying to access</h1>

        <p class="nhsuk-heading-xs" style="color:#4c6272">Reference: CID1004</p>

    
        <p>
            This can happen if you try to log in directly from a web search engine, bookmark or your browser history.
        </p>

        <h3 class="nhsuk-heading-m">What you can do</h3>

        <p>
            To try again, you should go to the website or app you want to access and select Continue with NHS login.
        </p>

        <p>
            Make sure you go to the main website or app of the service you want to access. Avoid using bookmarks or links from your browser history.
        </p>

        <p>
            If that doesn't work, you can see more options to try in our help centre.
        </p>

        <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading">
            More advice on the help centre
            </h3>
            <a href="" class="nhsuk-link">Get advice on the help centre</a>
            <p>
                help.login.nhs.uk
            </p>
        </div>
        </div>
        


    </div>
  </div>
{% endblock %}