{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your recovery email
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            Check your recovery email
        </h1>

        <p class="nhsuk-body">We've sent an email to ws••••••@gmail.com with a link to confirm the change in your phone
            number.</p>

        <p class="nhsuk-body">If you haven't received the email, check your spam folder.</p>

        <p class="nhsuk-body">You have 48 hours to follow the link before it expires.</p>


    </div>
</div>

{% endblock %}