{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h2 class="nhsuk-heading-l">Your session has ended</h2>

        <p class="nhsuk-body">This is to keep your information secure, because you have been inactive on NHS login for
            60 minutes.</p>

        <p class="nhsuk-body">To continue, close the website or app you were trying to access and login again.</p>

    </div>
</div>


{% endblock %}