{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel">

        <h1 class="nhsuk-fieldset__legend--l">You now have an NHS login</h1>

        <p>NHS login is a re-useable login that can be used on different health and care webites and apps.</p>

        <p>To keep your login safe we need to add your phone to your NHS login.</p>

        <a href="enter-phone" class="nhsuk-button">Continue</a>

      </div>

        

    </div>
  </div>

{% endblock %}