{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <div class="nhsuk-panel">
        <h1 class="nhsuk-fieldset__legend--l">
          You now have an NHS login
        </h1>
        <p>NHS login is secure and can be used repeatedly to access lots of different health and social care services.</p>

        <p>To begin using the NHS App, you will need to verify your identity.</p>

        <button class="nhsuk-button full-width" type="submit">
          Verify my identity
        </button>
      </div>

    </div>
  </div>

{% endblock %}
