<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Continue with testing scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Errors</p>
    <ul>
      <li><a href="../../p5/errors/error-p5-no-match">PDS error 1 - No match</a></li>
      <li><a href="../../p5/errors/error-p5-api-calls-exceeded">PDS error 2 - API calls exceeded</a></li>
      <li><a href="../../p5/errors/error-p5-nhs-number-not-verified">PDS error 3 - NHS number not verified</a></li>
      <li><a href="../../p5/errors/error-p5-record-invalidated">PDS error 5 - Record invalidated</a></li>
      <li><a href="../../p5/errors/error-p5-deceased-user">PDS error 6 - Deceased User</a></li>
      <li><a href="../../p5/errors/error-p5-generic">PDS error 7 - Technical (generic) back-end error</a></li>
    </ul>
    <p>Routes</p>
    <ul>
      <li><a href="../p5/errors/p9-uplift-option">Option of P9 after 3 failed P5 attempts</a></li>
      <li><a href="auth-terms">Updated terms of use</a></li>
      <li><a href="auth-consent">NHS App - Agree to give consent to information use</a></li>
      <li><a href="../set-up/demo/auth-consent-sensely">Sensely - Agree to give consent to information use</a></li>
      <li><a href="auth-consent-extra-scope">Agree to give consent to <b>additional</b> information use</a></li>
    </ul>
  </div>
</details>
