<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Continue with testing scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Errors</p>
    <ul>
      <li><a href="../p5/errors/error-enter-first-last-name">Field validation - No user input</a></li>
      <li><a href="../p5/errors/error-enter-first-name">Field validation - First name</a></li>
      <li><a href="../p5/errors/error-enter-last-name">Field validation - Last name</a></li>
      <li><a href="../p5/errors/error-enter-name-one-character">Field validation - User input one character</a></li>
    </ul>
  </div>
</details>
