<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Continue with testing scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Errors</p>
    <ul>
      <li><a href="../set-up/errors/error-register-link-expired">Link expired</a></li>
      <li><a href="../set-up/errors/error-register-link-malformed">Link malformed</a></li>
      <li><a href="../set-up/errors/error-register-link-used">Link already used</a></li>
    </ul>   
  </div>
</details>
