{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      {{ backLink({
        "href": "enter-email",
        "text": "Back to: Enter your email"
      }) }}

      <h1 class="nhsuk-heading-l">
        What you need
      </h1>

      <div class="start-info first">
        <div class="start-info-content">
          <h2 class="nhsuk-heading-m start-heading">5 to 10 minutes of your time</h2>
          <p>This will take longer if you are using assistive technologies.</p>
        </div>
      </div>

      <div class="start-info">
        <div class="start-info-content">
          <h2 class="nhsuk-heading-m start-heading">Personal information</h2>
          <p>So that we can match you to your NHS record, you will need to tell us your:</p>
            <ul>
              <li>name</li>
              <li>date of birth</li>
              <li>postcode</li>
            </ul>
          <p>If you do not know these details, you can tell us your NHS number and date of birth.</p>
        </div>
      </div>

        <div class="start-info">
          <div class="start-info-content">
            <h2 class="nhsuk-heading-m start-heading">A mobile phone</h2>
            <p>You will need a working mobile phone with signal, as we will text you a security code.</p>
          </div>
        </div>

        <!-- ---------------- -->

        <a href="register-create-password" class="nhsuk-button">Continue</a>


    </div>
  </div>

{% endblock %}