* {
    font-family: Helvetica, Arial, sans-serif;
}

body.home {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px !important;
}

body.width-600 {
    width: 600px;
    margin: auto;
}

body {
    margin: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.start {
    width: 220px;
}

img.home {
    width: 100%;
    padding: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

img.button {
    width: 90% !important;
}

img.sensley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

h1 {
    color: #444444;
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}

p {
    color: #black;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 32px;
    margin-bottom: 60px;
}

a {
    text-align: center;
    font-weight: 200;
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
}

img.button {
    margin-bottom: 24px;
}

button {
    background-color: #0D60B5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    margin-bottom: 24px;
    font-size: 17px;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    width: 90%;
    letter-spacing: 0.8px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #003087;
}

button:hover {
    background-color: #3899FD;
}

button.secondary {
    background-color: white !important;
    color: #0D60B5;
    border: 1px solid #0D60B5;
}

button.secondary.home {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 95%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
    padding: 10px;
    border-radius: 0px;
    border: 0.25px solid #dddddd !important;
    color: grey;
    font-size: 15px;
    padding: 16px;
}

button.secondary.home:first-child {
    background-color: green;
}

i, .fas, .far {
    margin-right: 16px; 
    width: 16px;
}

.fa-briefcase-medical {
    color: #3D8AC6;
}

.fa-heart {
    color: #3D8AC6;
}

.fa-map-marker-alt {
    color: #3D8AC6;
}

.fa-clock {
    color: #3D8AC6;
}

.fa-comment-alt {
    color: #3D8AC6;
}

/* hidden on default */
div#popup { display: none; }

/* use a media query to filter small devices */
@media only screen and (min-device-width:480px) {
    /* show the popup */
    div#popup { 
        display: flex;
        flex-flow: column;
        position: absolute;
        height: 400px;
        top: 10%;
        left: 30%;
        right: 30%;
        align-items: center;
        justify-content: center;
        background-color: #D4E9FD;
        border-radius: 10px;
        color: black;
        padding: 16px;
        text-align: center;
    }
}

