* {
    font-family: Helvetica, Arial, sans-serif;
}

body.home {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px !important;
}

body {
    margin: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.start {
    width: 220px;
}

img.home {
    width: 100%;
    padding: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

img.button {
    width: 90% !important;
}

img.sensley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

h1 {
    color: #444444;
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}

p {
    color: #4E4E4E;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    padding: 32px;
    margin-bottom: 60px;
}

img.button {
    margin-bottom: 24px;
}

button {
    background-color: #0D60B5;
    color: white;
    margin-bottom: 24px;
    font-size: 17px;
    border-radius: 3px;
    padding: 10px;
    font-weight: 200;
    text-align: center;
    width: 90%;
    letter-spacing: 0.8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #3899FD;
}

button.secondary {
    background-color: white !important;
    color: #0D60B5;
    border: 1px solid #0D60B5;
}

button.secondary.home {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 95%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
    padding: 10px;
    border-radius: 0px;
    border: 0.25px solid #dddddd !important;
    color: grey;
    font-size: 15px;
    padding: 16px;
}

button.secondary.home:first-child {
    background-color: green;
}

i {
    margin-right: 8px; 
    width: 18px;
    height: auto;
}