// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/devmode';
@import 'components/spinner';
@import 'components/alert-banner';
@import 'components/link-spinner';
@import 'components/user-icon';
@import 'components/email-generic';
@import 'components/have-login-email';
@import 'components/button-spinner';
@import 'components/webview';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

//index page styles

.nhsuk-expander.version-list {
  background-color: #F0F4F5 !important;
}

.details-index {
  background-color: #F0F4F5 !important;
  padding: 0px !important;
}

.nhsuk-details__text.expandy {
  color: #F0F4F5 !important;
  padding-left: 24px;
}

#details-content-0 {
  @include mq($from: mobile) {
    padding: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
}

#details-content-1 {
  @include mq($from: mobile) {
    padding: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
}

a {
  text-decoration: none;
}

// login flow styling

.nhsuk-button.full-width {
  @include mq($from: mobile) {
    width: 100%;
  }

  @include mq($from: tablet) {
    width: auto;
  }

  @include mq($from: desktop) {
    width: auto;
  }
}

.nhsuk-inset-text.registration-callout {
  margin: nhsuk-spacing(6) nhsuk-spacing(0) nhsuk-spacing(4) nhsuk-spacing(0) !important;
}

.email-input {
  @include mq($from: mobile) {
    width: 20%;
  }

  @include mq($from: tablet) {
    width: 20%;
  }

  @include mq($from: desktop) {
    width: 20%;
  }
}

.nhsuk-panel.confirmation-panel {
  margin: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(4) nhsuk-spacing(0) !important;
  padding: nhsuk-spacing(2) nhsuk-spacing(2) nhsuk-spacing(2) nhsuk-spacing(2) !important;
}

div.heading-confirmation {
  display: inline-block;

}

.tick-confirmation {
  display: inline-block;

  svg {
    @include mq($from: mobile) {
      position: relative;
      top: 10px;
    }

    @include mq($from: tablet) {
      position: relative;
      top: 10px;
    }

    @include mq($from: desktop) {
      position: relative;
      top: 10px;
    }
  }
}


// v3 iteration to login flow styling

.nhsuk-grid-column-one-third.image-column {
  padding: 0px;
}

.nhsuk-grid-column-two-thirds.image-column {
  padding: 0px;
}

.or-container {
  border-top: 3px #d8dde0 solid;
  margin: 32px 0 32px 0;
  position: relative;
}

.line-cut {
  position: absolute;
  top: -16px;
  left: 20px;
  padding: 0 8px 0 8px;
  background-color: $color_nhsuk-white;
}

.nhsuk-grid-row.reg-details {
  @include mq($from: mobile) {
    margin: nhsuk-spacing(0) nhsuk-spacing(5) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }

  @include mq($from: tablet) {
    margin: nhsuk-spacing(0) nhsuk-spacing(6) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }

  @include mq($from: desktop) {
    margin: nhsuk-spacing(0) nhsuk-spacing(6) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
}

// v3 iteration - inline password reveal

.nhsuk-form-group.form-group-password-toggle {
  position: relative;
}

.inline-password-toggle {
  position: absolute;
  top: 35px;
  right: 180px;
}

// back-end error styling 

.nhsuk-error-summary.error-be-validation {
  background-color: #f5e6e4;
  border: none;
  border-top: 8px solid #da291c;
  padding-bottom: 8px;
  margin-bottom: 24px;
}


// blue interruption card
.nhsuk-panel.panel--blue {
  background-color: $color_nhsuk-blue;
  color: white;
}

// user icon styling

.icon-text {
  display: inline-block;
  position: relative;
  top: -5px;
}

// action link font size increase 

.nhsuk-action-link__text.action-link-l {
  font-size: 32px !important;
  position: relative;
  bottom: 6px;
  text-decoration: underline !important;

  h1 {
    margin-bottom: 0px;
  }
}

// 

.link-column {
  margin-bottom: 8px;
}

.nhsuk-related-nav.border-top__blue {
  border-top: 2px solid $color_nhsuk-blue;
}

#parent-title {
  margin-top: 16px;
}

// Styling for terms of use pages

.nhsuk-table-responsive {
  margin-bottom: 0px !important;
}

.app-side-nav__item--current {
  border-left: 4px solid #005eb8;
  padding-left: 8px;
  font-weight: bold;
}

// RMD checkbox 

@media (max-width: 500px) {
  .nhsuk-label.nhsuk-checkboxes__label {
    padding-top: 0px;
  }
}

// Start page styling 

.start-info.first {
  margin-top: 40px;
}

.start-info {
  display: flex;
  margin-top: 8px;
}

.nhsuk-heading-m.start-heading {
  margin-bottom: 12px;
}

.latest {
  background-color: rgba(0, 123, 20, 0.3);
}

// Cookie Banner

.nhsuk-cookie-banner {
  background-color: $color_nhsuk-grey-5;
  padding: 0px !important;
}

.cookie-heading {
  padding: 16px 0px 0px 0px;
  margin: 0px !important;
}

.cookie-body {
  margin: 16px 0px 16px 0px;
}

#nhsuk-cookie-banner__link_accept {
  margin-right: 16px !important;
}

#nhsuk-cookie-banner__link_accept,
#nhsuk-cookie-banner__link {
  margin: 0px 0px 24px 0px;
}

.accepted-cookies {
  background-color: $color_nhsuk-grey-5;
  padding: 24px 0px 0px 0px !important;
}

// Email OTP

.otp-container {
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  #otp-code {
    margin: 0px;
  }
}