// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// give some styling to emails

.body-email {
  padding: 1em 0;
  background-color: #d8dde0;
  .nhsuk-header__logo {
    padding-left: 1em;
  }
  .page-section {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    border: 1px solid #425563;
    box-shadow: 2px 2px 8px #f0f4f9;
    background: #fff;
    .email-content {
    padding: 1em;
    }
  }
  footer {
    display: none;
  }
}

// styling for email-login-info

.nhsuk-image.login-email {
  background-color: transparent;
  color: transparent;
  border-bottom: none;
  width: 100%;
}

.nhsuk-image.button-1 {
  background-color: transparent;
  color: transparent;
  padding: 0 20px 0 20px;
  width: 100%;
  border-bottom: none;
  @include mq($from: tablet) {
    margin-top: nhsuk-spacing(9) !important;
  }
}

@media (max-width: 768px) and (min-width: 550px) {
  .nhsuk-image.button-1 {
      padding: 0 80px 0 80px !important;
  }
}

.nhsuk-hero__wrapper {
  @include mq($from: mobile) {
    padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) !important;
  }
  @include mq($from: tablet) {
    padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) !important;
  }
  @include mq($from: desktop) {
    padding: nhsuk-spacing(6) nhsuk-spacing(0) nhsuk-spacing(6) nhsuk-spacing(0) !important;
  }
}

.nhsuk-grid-column-one-half.image {
  @include mq($from: mobile) {
    display: none;
  }
  @include mq($from: tablet) {
    display: block;
    padding-bottom: nhsuk-spacing(2);
  }
}

.nhsuk-grid-row.bodyContent {
  padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) !important;
}


 @media (min-width: 40.0625em) {
   h3, .nhsuk-heading-m.subtext {
     margin-bottom: 0px !important;
   }
}

.nhsuk-hero.survey {
  position: bottom;
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-blue;
  width: 100%;
  overflow: visible !important;
}

.nhsuk-grid-row.surveyBorder {
  border-top: 4px solid $color_nhsuk-blue;
}

.surveyText {
  @include mq($from: desktop) {
    padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
  @include mq($from: tablet) {
    padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
  @include mq($from: mobile) {
    padding: nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
  }
}

.surveyResponse {
  @include mq($from: desktop) {
    padding: nhsuk-spacing(4) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(4) !important;
  }
}

#maincontent {
  padding-bottom: 0px;
}

.nhsuk-grid-one-third.repsonse {
  display: inline;
}

.nhsuk-body-l.feedbackLink {
  text-decoration: underline;
  @include mq($from: mobile) {
    padding: nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) !important;
    display: inline;
  }
  @include mq($from: tablet) {
    padding: nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) !important;
    display: inline;
  }
  @include mq($from: desktop) {
    padding: nhsuk-spacing(0) nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3) !important;
    display: inline; 
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-form-group.surveyText {
    margin-bottom: 0px;
  }
}
