// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// give some styling to emails

.body-email {
  padding: 1em 0;
  background-color: #d8dde0;
  .nhsuk-header__logo {
    padding-left: 1em;
  }
  .page-section {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    border: 1px solid #425563;
    box-shadow: 2px 2px 8px #f0f4f9;
    background: #fff;
    .email-content {
    padding: 1em;
    }
  }
  footer {
    display: none;
  }
}

// styling for email-login-info

.nhsuk-image.login-email {
  background-color: transparent;
  color: transparent;
  border-bottom: none;
  width: 100%;
}

.nhsuk-hero__wrapper {
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (max-width: 40.0625em) {
    .nhsuk-hero__wrapper {
      padding-top: 2em !important; } }
  @media (max-width: 40.0625em) {
    .nhsuk-hero__wrapper {
      padding-bottom: 2em !important; } }


.nhsuk-image.button-1 {
  background-color: transparent;
  color: transparent;
  padding: 0 20px 0 20px;
  width: 100%;
  border-bottom: none;
}

@media (min-width: 40.0625em) {
  .button-1 {
    margin-top: 0px !important; } }

@media (max-width: 40.0625em) {
  .button-1 {
    width: 100% !important; } }

@media (max-width: 40.0625em) {
  .nhsuk-grid-column-one-half.image {
    display: none;
  }
  .nhsuk-grid-column-one-half.login-button {
    align-items: center;
    justify-content: center;
  }
  .nhsuk-grid-row {
    padding-top: 0px !important;
  }
}
