{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login consent
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
      Agree to share your NHS login information
    </h1>

    <svg class="nhsuk-icon nhsuk-icon__user nhsuk-icon--size-50 nhsuk-u-margin-right-2"
      xmlns="http://www.w3.org/2000/svg" viewBox="6 0 20 24" width="32" aria-hidden="true">
      <path class="user-icon"
        d="M16,2a10,10,0,0,0-1.09,19.93H15A6,6,0,0,0,16,22a6,6,0,0,0,1-.06h.05A10,10,0,0,0,16,2Zm5.4,15.88a6.45,6.45,0,0,0,.14-.88,5.3,5.3,0,0,0-2.4-4.14,4.89,4.89,0,0,1-6.28,0A5.3,5.3,0,0,0,10.46,17a6.45,6.45,0,0,0,.14.88,8,8,0,1,1,10.8,0Z" />
      <circle class="user-icon" cx="16" cy="9" r="3" />
    </svg>
    <div class="account-name-link">
      <h2 class="nhsuk-heading-m">jonkingston@gmail.com</h2>
    </div>

    <p class="nhsuk-body-m">To continue, you need to agree to share your NHS login information with the <b>'Sensely'</b>.</p>

    <p class="nhsuk-body-m">The <b>'Sensely'</b> will use your:</p>
    <ul>
      <li>NHS number</li>
      <li>date of birth</li>
      <li>last name</li>
      <li>registration details for GP online services</li>
    </ul>

    <p class="nhsuk-body-m">Read <b>'Senselys'</b> <a href="#">terms of use</a> and <a href="#">privacy policy</a> to check how your information will be used.</p>

    <button class="nhsuk-button full-width" type="submit">
      I agree
    </button>

    <p><a href="#">I do not agree to share this information</a></p>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Alternative scenarios</p>
        <ul>
          <li><a href="auth-consent-extra-scope-one">One additional scope is requested</a></li>
          <li><a href="auth-consent-extra-scope-all">Example of some scopes requested</a></li>
          <li><a href="auth-consent-extra-scope-all">Full list of scopes</a></li>

          <br>
          <p><b>Note</b><br>The client ID for NHS App is currently 'NHS App'. We should preface all instances of this on
            this page with 'the'.</p>
        </ul>

      </div>
    </details>
    {% endif %}

  </div>
</div>

{% endblock %}