{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="enter-email">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back to: Enter your email address</a>
  </div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Do you want to set up a new NHS login?
          </h1>
        </legend>
        <p class="nhsuk-body">
            Select <em>continue</em> to set up a new NHS login with <b>mail@mail.com</b>.
        </p>
        <p class="nhsuk-body">
            If you already have an NHS login with a different email address, <a href="enter-email" class="nhsuk-link">go back and log in.</a>
        </p>
        <a href="register-create-password" class="nshuk-button">
            <button class="nhsuk-button full-width">Continue</button>
        </a>
    </fieldset>
  </div>
</div>

{% endblock %}