{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Create a password
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
        "href": "enter-email",
        "text": "Back to: Enter your email"
      }) }}

    <h1 class="nhsuk-heading-l">
      Create a password
    </h1>

    <form method="post" action="register-check-email" autocomplete="on">
      <label class="nhsuk-label" for="input-with-hint-text">
        Create a password
      </label>
      <span class="nhsuk-hint" id="input-with-hint-text-hint">
        <p>Your password must have:<ul>
      </span>
      <li>8 characters or more</li>
      <li>1 capital letter or more</li>
      </ul>
      </p>
      </span>
      <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field id="revealPassword"
        name="revealPassword" type="password" aria-describedby="password reveal">
      <div style="display: inline; position: relative;">
        <button type="button" aria-pressed="false" class="button-link form__toggle-password" data-toggle-password
          style="border: none; position: absolute; right: 10px; top: -5px;">
          <span class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
        </button>
      </div>

      <label class="nhsuk-label nhsuk-u-margin-top-3" for="input-with-hint-text">
        Confirm password
      </label>
      <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm
        id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
      <div style="display: inline; position: relative;">
        <div style="display: inline; position: relative;">
          <button type="button" aria-pressed="false" data-toggle-password-confirm
            class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
            <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
          </button>
        </div>
      </div>

      <h2 style="font-size:20px; margin:1.5em 0 0;line-height: 20px">Agree to our terms of use​</h2>
      <p class="small" style="margin-top: 16px;">We will collect and save your information securely. We will not share
        your personal information without your consent.</p>
      <p class="small">By continuing you confirm that you agree to our <a href="/legal/privacy">privacy notice</a> and
        <a href="/legal/terms">terms and conditions.</a></p>

      <div class="nhsuk-u-margin-top-4  ">
        <button class="nhsuk-button full-width" id="button--save" type="submit">
          Continue
        </button>
      </div>
      <input type="hidden" name="userEmail" id="userEmail" value="{{data['userEmail']}}" />
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-register-password-no-input">No input [first field]</a></li>
          <li><a href="../errors/error-register-password-no-input-confirm">No input [second field]</a></li>
          <li><a href="../errors/error-register-password-no-input-both">No input [first and second field]</a></li>
          <li><a href="../errors/error-register-password-regex-no-input">Field validation error [first field] and no
              input [second field]</a></li>
          <li><a href="../errors/error-register-password-no-input-regex">No input [first field] and field validation
              error [second field]</a></li>
          <li><a href="../errors/error-register-password-regex">Field validation error [first field]</a></li>
          <li><a href="../errors/error-register-password-regex-confirm">Field validation error [second field]</a></li>
          <li><a href="../errors/error-register-password-regex-both">Field validation error [first and second field]</a>
          </li>
          <li><a href="../errors/error-register-password-dont-match">Passwords don't match</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>


{% endblock %}