{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Change your mobile phone number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-fieldset__legend--l">
            Mobile phone number successfully changed
        </h1>

        <p class="nhsuk-body">Your mobile phone number has been changed to <b>07755 843983</b>.</p>

        <p class="nhsuk-body">Go back to the service your were trying to use and log back in.</p>

    </div>
</div>

{% endblock %}