{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="acc-recovery-user-p0">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to: Enter your old mobile phone number
            </a>
        </div>

        <form action="acc-recovery-enter-new-mobile-number-p0-via-email" method="POST" role="form">

            <h1 class="nhsuk-heading-l">Check your email</h1>
            <p class="nhsuk-body">Enter the 6 digit security code we have sent to <strong>ws••••••@gmail.com</strong> to confirm your email address.</p>
            <p class="nhsuk-body">You need to use this code within <strong>1 hour</strong> or it will expire.</p>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="security-code">Security code</label>
                <span class="nhsuk-hint">The code is 6 numbers</span>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="security-code" name="security-code" type="number">
            </div> <!-- end nhsuk-form-group -->


            <button class="nhsuk-button full-width" type="submit">
                Continue
            </button>

        </form> <!-- end form -->

        <p>
            If you did not get a security code, check your spam folder or <a href= "acc-recovery-check-email-resend-p0">request a new security code</a>.
        </p>

        {% if data['devMode'] %}
        <details class="nhsuk-details dev-mode" role="group">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0"
                aria-expanded="true">
                <span class="nhsuk-details__summary-text">
                    Continue with testing scenario
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Errors</p>
                <ul>
                    <li><a href="../errors/error-acc-recovery-mobile-no-input">No user input</a></li>
                    <li><a href="../errors/error-acc-recovery-international-number-invalid">Invalid international number format</a></li>
                </ul>
            </div>
            <div class="nhsuk-details__text">
                <p>Routes</p>
                <ul>
                    <li><a href="acc-recovery-route-no-recovery-email">User is P > 0</a></li>
                    <li><a href="acc-recovery-user-p0">User is P0</a></li>
                </ul>
            </div>
        </details>

        {% endif %}

    </div> <!-- end grid-column-two-thirds -->
</div> <!-- end nhsuk-grid-row -->

<script>

    // This script is for the register-enter-phone screen in the registration journey as well as 
    // the account recovery journeys where we ask users to enter their mobile phone number

    // The proposed design / interaction for this, is because there is a conditional reveal checkbox
    // which displays another input field, users could get confused with which input field to interact
    // with this script disables the default mobile number input field if the checkbox is selected.

    document.getElementById('int-checkbox').onchange = function() {
        document.getElementById('mobile-number').disabled = this.checked;
    };

  </script>

{% endblock %}