{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Phone number changed
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            Mobile phone number changed
        </h1>

        <p class="nhsuk-body">Your mobile phone number will be changed to {{ data['new-number'] }}</p>

        <p class="nhsuk-body">For security reasons, it will take 24 hours for the change to happen.</p>

        <p class="nhsuk-body">You will receive an email when the change is confirmed.</p>

        {% if data['devMode'] %}
        <details class="nhsuk-details dev-mode" role="group">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0"
                aria-expanded="true">
                <span class="nhsuk-details__summary-text">
                    Continue with testing scenario
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Email</p>
                <ul>
                    <li>
                        <a href="../v-9/acc-recovery-email-number-change-notification">Notification email sent to the
                            users primary email address immediately</a>
                    </li>
                    <li>
                        <a href="../v-9/acc-recovery-phone-number-change-success-email">Success email sent to the users primary
                            email address after 24 hours</a>
                    </li>
                    <li>
                        <a href="../errors/error-acc-recovery-phone-number-change-requested">User already requested phone number change wait prompt</a>
                    </li>
                </ul>
            </div>
        </details>
        {% endif %}
    </div>
</div>

{% endblock %}