{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Phone number changed
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-l">Phone number change cancelled</h1>
        <p class="nhsuk-body">Your phone number will stay the same as it is now.</p>
        <p class="nhsuk-body">
            If you think you need to secure your NHS login you can reset your password.
        </p>
        <p class="nhsuk-body">
            To do this, <a href="https://nhs-login-account-management.herokuapp.com/account/v6/">visit your NHS login settings</a> and select <strong>change password</strong>.
        </p>
    </div>
</div>

{% endblock %}