{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Enter your password
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
        "href": "enter-email",
        "text": "Back to: Enter your email address"
      }) }}

    <h1 class="nhsuk-heading-l">
      Enter your password
    </h1>

    <form action="login-enter-OTP" method="post" autocomplete="on">
      <label class="nhsuk-label" for="input-with-hint-text">
        Enter your password to log in.
      </label>

      <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          I don’t remember my password
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you do not know what your password is, select <strong>‘Forgotten password?’</strong> to reset it.</p>
    
      </div>
    </details>

      <label class="nhsuk-label nhsuk-u-margin-top-5" for="input-with-hint-text">
        Password
      </label>
      <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm
        id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
      <div style="display: inline; position: relative;">
        <div style="display: inline; position: relative;">
          <button type="button" aria-pressed="false" data-toggle-password-confirm
            class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
            <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
          </button>
        </div>
      </div>

      <div class="flex-parent" style="padding-top: 8px; margin-bottom: 24px;">
        <div class="spinner-wrapper">
          <p style="margin-bottom: 0px; display: inline-block;"><a href="reset-check-email"
              onclick="forgottenPasswordClickHandler(event)" style="margin-right: 16px;">Forgotten password?</a></p>
          <div style="display: none;" id="loading"></div>
        </div>
      </div>

      <div>
        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
      </div>

    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Input errors</p>
        <ul>
          <li><a href="../errors/error-login-enter-password-incorrect">Incorrect password</a></li>
          <li><a href="../errors/error-login-enter-password-regex">Field validation</a></li>
          <li><a href="../errors/error-login-enter-password-no-input">No input</a></li>
          <li><a href="../errors/error-login-OTP-attempts-exceeded">User requests OTP >5 times</a></li>
          <li><a href="../errors/error-login-enter-password-exceeded">Password incorrect >5 times</a></li>
          <li><a href="../errors/error-login-attempts-exceeded">Login attempts exceeded</a></li>
        </ul>
        <p>Forgotten password errors</p>
        <ul>
          <li><a href="../errors/error-reset-not-confirmed">User hasn't confirmed email yet</a></li>
        </ul>
      </div>
    </details>
    {% endif %}

    <script>
      function forgottenPasswordClickHandler(e) {
        e.preventDefault();
        var x = document.getElementById("loading");
        if (x.style.display === "none") {
          x.style.display = "inline-block";
        } else {
          x.style.display = "none";
        }
        setTimeout(() => window.location.href = e.target.href, 2000)
      }
    </script>

  </div>
</div>

{% endblock %}