{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a onclick="goBack()" class="nhsuk-back-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Back to: Do you know your NHS number</a>
    </div>

    <form method="submit" action="enter-dob">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              Enter your full name
            </h1>
          </legend>

          <p class="nhsuk-body">
            Use the same full name that you registered with your GP surgery.
          </p>


          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              First name
            </label>
            <input class="nhsuk-input" id="first-name" name="first-name" type="text">
            <label class="nhsuk-label nhsuk-u-margin-top-4" for="middle-name">
              Middle names (if you have any)
            </label>
            <input class="nhsuk-input" id="middle-name" name="middle-name" type="text">
            <label class="nhsuk-label nhsuk-u-margin-top-4"" for=" last-name">
              Last name
            </label>
            <input class="nhsuk-input" id="last-name-name" name="last-name" type="text">
          </div>

        </fieldset>
      </div>
      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-enter-first-last-name">Field validation - No user input</a></li>
          <li><a href="../errors/error-enter-first-name">Field validation - First name</a></li>
          <li><a href="../errors/error-enter-last-name">Field validation - Last name</a></li>
          <li><a href="../errors/error-enter-name-one-character">Field validation - User input one character</a></li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

{% endblock %}