{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  This link does not work
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a href="error-register-link-expired">
        <figure class="nhsuk-image" style="margin-top: 0px;">
          <img class="nhsuk-image__img" src="/images/email-conf-screenshot.jpg" alt="screenshot of the email confirmation link sent as part of the NHS login registration process.">
          <figcaption class="nhsuk-image__caption">
              Screenshot of the email confirmation link sent as part of the NHS login registration process.
          </figcaption>
      </figure>
      </a>
    </div>
  </div>

{% endblock %}
