{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login terms of use update
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
      <div class="nhsuk-panel panel--blue nhsuk-u-margin-top-1">
        <h1 class="nhsuk-heading-l">
          NHS login terms of use update
        </h1>
        <p class="nhsuk-body-m">We've updated our <a href="http://nhs-cid.herokuapp.com/terms-of-use/v2/terms-conditions"  style="color: white;">terms and conditions</a>, <a  style="color: white;" href="">privacy notice</a> and <a style="color: white;" href="">cookies</a>.</p>

        <p class="nhsuk-body-m">By continuing you agree to our updated terms of use.</p>

        <button class="nhsuk-button nhsuk-button--reverse full-width" type="submit">
         Continue
        </button>

    </div>
  </div>
</div>

{% endblock %}
