<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl">
      User testing session Wednesday 4th August
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-m">NHS login journey</h1>
    <ul>
      <li>
        <p><a href="/research-prototypes/wed4-aug20/report-covid-19-test/report-covid-19-test" target="blank_">Report a Covid-19 test - New user</a></p>
      </li>
      <li>
        <p><a href="/research-prototypes/mon28-june21/login--B/nhs-app-online-B" target="blank_">NHS App online - Existing user</a></p>
      </li>
    </ul>

    <h1 class="nhsuk-heading-m">NHS login info</h1>

    <ul>
      <li>
        <p><a href="/emails/email-learn-more" target="blank_">NHS login email</a></p>
      </li>
      <li>
        <p><a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/" target="blank_">NHS.UK page</a></p>
      </li>
    </ul>
    

    <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Direct journey links
    </span>
  </summary>
  <div class="nhsuk-details__text">

      <p>
          <a href="/p5/check-details-flow/know-nhs-number">Check your details</a>
      </p>
        
  </div>
</details>
    </div>
</div>


<div class="spacing-example">
  <div class="nhsuk-u-padding-bottom-8"></div>
</div>

{% endblock %}