{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
Enter your mobile phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
        Enter your mobile phone number
      </h1>

      <form action="/set-up/phone-2fa" method="post">

        {{ input({
          "label": {
            "text": "Mobile phone number"
          },
          "id": "input-width-20",
          "name": "test-width-20",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
