{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel">

        <h1 class="nhsuk-fieldset__legend--l">You will need</h1>

        <ul>
          <li>Around 20 minutes of your time</li>
          <li>A phone with signal</li>
          <li>An email address</li>
        </ul>
        <ul>
        </ul>
          <p style="border-top: 1px solid grey; width: 80%; float: right;">and</p>
          <ul>
          <li>A way to verify yourself</li>
            <ul>
              <li>Verify with photo ID</li>
              <li style="list-style: none">or</li>
              <li>Verify with details from your GP practice</li>
            </ul>
          </ul>
        </ul>

        <a href="enter-phone" class="nhsuk-button">Continue</a>

      </div>

        

    </div>
  </div>

{% endblock %}