{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your new mobile phone number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="../v7/acc-recovery-enter-mobile-number">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Back to: Enter your mobile phone number</a>
        </div>

        <form action="../v7/acc-recovery-check-your-phone" method="POST" role="form">
            <h1 class="nhsuk-heading-l">
                Enter your new mobile phone number
            </h1>

            <p class="nhsuk-body">We will send a 6 digit security code to your new phone number.</p>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="mobile-number">
                    New number
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="mobile-number" name="new-number" type="number"
                    value="{{ data['new-number'] }}">
            </div>

            <button class="nhsuk-button full-width" type="submit">
                Continue
            </button>
        </form>

        {% if data['devMode'] %}
        <details class="nhsuk-details dev-mode" role="group">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0"
                aria-expanded="true">
                <span class="nhsuk-details__summary-text">
                    Continue with testing scenario
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Errors</p>
                <ul>
                    <li><a href="../errors/error-acc-recovery-new-mobile-no-input">No user input</a></li>
                </ul>
            </div>
        </details>

        {% endif %}

    </div>
</div>

{% endblock %}