{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login terms of use update
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-xl">NHS login accessibility statement </h1>
    </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h2 class="nhsuk-heading-l">Accessibility statement for NHS login </h2>

      <p class="nhsuk-body">
        This accessibility statement applies to the NHS login website, which is run by <a href="#" style="text-decoration: underline;">NHS Digital</a>. We want to make setting up an NHS login easy for all users. We have designed the site to be accessible and as simple as possible to understand.
      </p>

      <p>This means you should be able to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="nhsuk-body">
        If you have a disability, <a href="#" style="text-decoration: underline;" class="nhsuk-link">AbilityNet has advice on making your device easier to use</a>.
      </p>

      <h2 class="nhsuk-heading-l">How accessible this website is</h2>

      <p class="nhsuk-body">
        The NHS login website was audited by the <a href="#" style="text-decoration: underline;" class="nhsuk-link">Digital Accessibility Centre (DAC)</a> in July 2020. It has been designed and built to meet the AA standard of the <a href="#" style="text-decoration: underline;" class="nhsuk-link">Web Content Accessibility Guidelines (WCAG) 2.1</a>.
      </p>

      <p class="nhsuk-body">
        Some content does not meet this standard, but we are working to fix this.
      </p>

      <h2 class="nhsuk-heading-l">Content that does not meet the standard</h2>

      <h3 class="nhsuk-heading-m">Enter your email address page</h3>

      <p class="nhsuk-body">
        Content that does not meet the WCAG 2.1 AA standard includes:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>visually hidden content that is not hidden from assistive technology</li>
        <li>an inappropriate autocomplete attribute value</li>
        <li>heading levels that do not reflect relationships within the content</li>
      </ul>

      <h3 class="nhsuk-heading-m">Enter your password page</h3>

      <p class="nhsuk-body">
        Content that does not meet the WCAG 2.1 AA standard includes:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>a scaling problem that causes our feedback component to obscure content when the page is viewed in a single column</li>
        <li>form fields that do not recognise text entered via dictation when using Dragon Naturally Speaking voice activation software</li>
        <li>focusable components not receiving focus in an order that preserved meaning and operability</li>
      </ul>

      <h3 class="nhsuk-heading-m">Manage your NHS login page</h3>

      <p class="nhsuk-body">
        Content that does not meet the WCAG 2.1 AA standard includes:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>missing page titles</li>
        <li>a submit button that is wrongly identified as a link when deleting an NHS login</li>
      </ul>

      <h2 class="nhsuk-heading-l">Another way to prove who you are</h2>

      <h3 class="nhsuk-heading-m">Registration details from your GP surgery’s online services</h3>

      <p class="nhsuk-body">
        If you cannot take a photo of your ID document, or record a video, you can prove your identity at your GP surgery instead. You must sign up to your GP surgery’s online services, so that you can use your registration details to prove your identity.
      </p>

      <p class="nhsuk-body">
        You will need these 3 registration details:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>a Linkage Key (also known as a Passphrase)</li>
        <li>an O.D.S. Code (also known as an Organisation Code or Practice ID)</li>
        <li>an Account ID</li>
      </ul>

      <p class="nhsuk-body">
        Contact your GP surgery by phone if you have already signed up to their online services but you do not have your registration details.
      </p>

      <h3 class="nhsuk-heading-m">British Sign Language (BSL) and written numbers</h3>

      <p class="nhsuk-body">
        During the process of proving who you are, you will be asked to record a video and say 4 numbers. This is so we can match your face with your photo ID so we know it’s you.
      </p>

      <p class="nhsuk-body">
        If you are unable to say the 4 numbers out loud you may use British Sign Language, or show the numbers written down on a piece of paper instead.
      </p>

      <h2 class="nhsuk-heading-l">Technical information about this website's accessibility</h2>

      <p class="nhsuk-body">
        We're committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="nhsuk-heading-l">Enforcement procedure</h2>

      <p class="nhsuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you’re not happy with how we respond to your complaint, <a href="#" style="text-decoration: underline;" class="nhsuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>

      <h2 class="nhsuk-heading-l">Reporting accessibility problems</h2>

      <p class="nhsuk-body">
        We are always looking to improve the accessibility of the NHS login website.
      </p>

      <p class="nhsuk-body">
        Some content on our website does not meet the standard and we are working to fix this as soon as we can.
      </p>

      <p class="nhsuk-body">
        Please <a href="http://support-nhslogin.herokuapp.com/contact-form/contact" class="nhsuk-link" style="text-decoration: underline;">contact us</a> to report any accessibility problems that are not listed.
      </p>

      <p class="nhsuk-body">
        Reference: CID0003
      </p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Last updated: This statement was last updated on 28 September 2020.
      </p>


  </div>

  <aside _ngcontent-cul-c32="" class="nhsuk-grid-column-one-third"><div _ngcontent-cul-c32="" class="blue-nav nhsuk-related-nav border-top__blue"><nav _ngcontent-cul-c32="" aria-labelledby="parent-title" class="nhsuk-related-nav__nav-section"><h2 _ngcontent-cul-c32="" id="parent-title" class="spacing nhsuk-heading-m">Accessibility</h2><ul _ngcontent-cul-c32="" class="bulletpoints nhsuk-related-nav__list"><li _ngcontent-cul-c32="" class="active-link nhsuk-related-nav__item app-side-nav__item--current"><p _ngcontent-cul-c32="" class="link-column">Your Accessibility on NHS login</p></li></ul></nav></div></aside>
</div>

{% endblock %}
