{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Your privacy on NHS login
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

    <h1>Your privacy on NHS login</h1>

  </div>
</div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>

          <p>Version 2.8, 30 June 2021</p>

          <p>This privacy notice will explain:</p>

          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <a class="nhsuk-contents-list__link" href="#who-we-are">Who we are</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#what-personal-info">What personal information we collect about
                you</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#why-personal-info">Why we collect your personal
                information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#legal-basis">Our legal basis for using your information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-personal-info">How we process your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#sharing-connecting-parties">Sharing your information with your Connecting Parties</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#sharing-information-nhs-systems">Sharing information with Connected NHS Systems</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-protect-personal-info">How we protect your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-store-personal-info">How long we store your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#where-store-personal-info">Where your personal information is stored</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#cookies">Cookies</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#your-rights">Your rights</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#complaints">Complaints</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#changes">Changes to our privacy notice</a>
            </li>
          </ol>
        </nav>
      </section>

      <section>

        <div id="who-we-are">
          <h2>Who we are</h2>
          <p>NHS Digital was set up by the Department of Health and Social Care in April 2013 and is an executive non-departmental public body that provides national information, data and IT systems for health and care services. We exist to help patients, clinicians, commissioners, analysts and researchers. Our goal is to improve health and social care in England by making better use of technology, data and information. Where appropriate legal basis exists we also provide services to areas outside England.</p>
          <p><a href="https://digital.nhs.uk/about-nhs-digital">Find out more about NHS Digital</a>.</p>
          <p>Mentions of "us" and "we" mean NHS Digital and "you" means anyone using NHS login.</p>
          <p>We have developed a platform for you to prove your ID and create your own NHS login account. With this, you can use “Connected Services” such as health related websites and apps, provided by the NHS or by third parties on behalf of the NHS "Connecting Parties". To create your NHS login, we need to take some personal information from you.</p>
          <p>We are the data controller of the personal information you provide to us when:</p>
          <ul>
            <li>we verify your identity</li>
            <li>you use NHS login to access Connected Services</li>
            <li>you contact us</li>
          </ul>
          <p>We do not have access to any information within your medical records or the product provided by the Connected Services, as such, some features may differ depending on the location being used to access the service.</p>
          </p>
        </div>

        <div id="what-personal-info">
          <h2 class="nhsuk-heading-l">What personal information we collect about you</h2>
          <p>NHS login provides access to online health services. The different items of your personal information which you choose to provide to conduct ID checks will determine the level of identity verification you achieve. The levels of identity verification currently are low-level , medium-level, and high-level. The level of identity verification which you have will affect which Connected Services you are able to access using NHS login. Once you have established a low or medium-level you may at any time provide the further personal information required to move to a higher level. To support this, NHS login provides various methods to achieve the higher level of ID verification, including, in some cases, relying on verification which has already been conducted by your GP practice.</p>
          <h3>Identity and contact information</h3>
          <p>We collect your basic personal details needed to process your NHS login application, including:</p>
          <ul>
            <li>For the low-level identity verification, NHS login will process your email address and mobile phone number.</li>
            <li>For the medium-level identity verification, NHS login will process your email address, mobile phone number and, depending on the user journey selected either 'first name, middle name, last name, date of birth and postcode' or 'NHS number and date of birth'.</li>
            <li>For the high-level identity verification, NHS login will process all of the data items in the medium-level identity verification plus the special category information detailed below.</li>
            <li>For high level identity verification which leverages Patient Online (POL) account creation processes, NHS login will only transact a minimum set of data to complete the verification process.</li>
            <li>For the NHS login Help Centre, NHS login will process your email address and Name provided by you.</li>
          </ul>
          <h3>Special category information (sensitive personal data)</h3>
          <p>For high-level identity verification we also collect special category information needed to verify your identity, including:</p>
          <ul>
            <li>a short video of you</li>
            <li>biometric data of your face that will include ethnicity</li>
            <li>information from your ID document</li>
          </ul>
          <h3>Technical information</h3>
          <p>In all cases we also collect technical information needed for security and to set up and manage your account to a Connected Service. This includes:</p>
          <ul>
            <li>linkage key information (GP Account ID, GP ODS code, GP system Linkage key)</li>
            <li>audit data and event logs</li>
            <li>online identifiers, like your Internet Protocol (IP) addresses</li>
          </ul>
        </div>

        <div id="why-personal-info">
          <h2 class="nhsuk-heading-l">Why we collect your personal information</h2>
          <p>We collect personal information from you to:</p>
          <ul>
            <li>verify who you are</li>
            <li>provide you with an NHS login so that you can access Connected Services</li>
            <li>provide Connecting Parties with data you explicitly agree to us sharing</li>
            <li>to inform you of new Connected Services which you can access using NHS login</li>
          </ul>
          <p>Collecting this information also allows us to manage our service, so that we can:</p>
          <ul>
            <li>improve our manual and automated ID checking function by monitoring the rates of successful and unsuccessful ID verification submissions with existing and proposed suppliers</li>
            <li>provide data in support of the NHS Digital protective monitoring plan to improve the security of the service</li>
            <li>improve the accuracy of the data held within NHS login and our Connected NHS systems such as the Personal Demographic Service (PDS)</li>
            <li>to provide you with supporting information in order to support your use of NHS login via the Help centre service or directly to you (once you have created an account with NHS login)</li>
          </ul>
        </div>

        <div id="legal-basis">
          <h2>Our legal basis for using your information</h2>
          <h3>If you are a user from England</h3>
          <p>We are directed by the Department of Health and Social Care (DHSC), under its powers conferred by sections 254(1) and (6), section 260 (2) (d), section 261 (2) (e), 304 (9), (10) and (12) of the Health and Social Care Act 2012 and regulation 32 of the National Institute for Health and Care Excellence (Constitution and Functions) and the Health and Social Care Information Centre (Functions) Regulations 2013, to establish and operate the NHS login Services in England.</p>
          <p>NHS Digital and DHSC process personal data under the legal direction from DHSC as joint data controllers. The legal bases under the Data Protection Act 2018 / General Data Protection Regulation (GDPR) for the processing is explained below.</p>
          <p>NHS login will reference the Legal Directions above and the Spine Legal Directions (Health and Social care Information Centre 9Spine Services) (No.2) Directions 2014, to support the NHS login Contact Preferences update feature.</p>

          <h3>If you are a user from Northern Ireland, Scotland and Wales</h3>
          <p>We have been requested by the Public Health Agencies from the Devolved Administrations (Northern Ireland, Scotland and Wales) to provide NHS login to residents within their administrative areas for the purpose of providing an NHS login account for access to services approved by the Devolved Administrations. This request is made under the Covid-19 Framework Request made under section 255 of the Health and Social Care Act 2012.</p>
          <p>As NHS Digital processes personal data under the legal request from the Devolved Administrations, then the organisations are joint data controllers for data protection purposes. The legal bases under the Data Protection Act 2018 / General Data Protection Regulation (GDPR) for the processing is explained below.</p>

          <h3>If you are a user from Isle of Man</h3>
          <p>We have been requested by the Isle of Man Department of Health and Social Care (IOMDHSC) to provide NHS login to residents within their administrative areas for the purpose of providing an NHS login Account for access to services approved by the IOMDHSC. This request is made by the IOMDHSC under section 255 of the Health and Social Care Act 2012.</p>
          <p>As NHS Digital processes personal data under the legal request from the IOMDHSC, then the organisations are joint data controllers for data protection purposes. The legal bases under the Data Protection Act 2018 / GDPR and LED Implementing Regulations 2018 / General Data Protection Regulation (GDPR) for the processing is explained below.</p>

          <h3>NHS Digital processing of personal data</h3>
          <p>GDPR Article 6(1)(a) - ‘consent of the individual’ (solely for the purposes of non-essential cookies, which comprise personal data, which are placed on the platform).</p>
          <p>GDPR Article 6(1)(c) – the ‘processing is necessary for compliance with a legal obligation to which the controller (NHS Digital) is subject’.</p>
          <p>GDPR Article 6 (1)(e) – where we process personal data as part of our statutory functions under the Health and Social Care when requested by other bodies, such as the Devolved Administrations and IOMDHSC, the process is part of our public task.</p>

          <h3>NHS Digital processing of special category data (sensitive personal data)</h3>
          <p>GDPR Article 9(2) (h) – ‘processing is necessary for the purposes of preventive or occupational medicine, for the assessment of the working capacity of the employee, medical diagnosis, the provision of health or social care or treatment or the management of health or social care systems and services’.</p>
          <p>Data Protection Act 2018, schedule 1, part 1, paragraph 2, sub paragraph (2), sub paragraph (f) – ‘the management of health care systems or services or social care systems or services’.</p>

          <!--<h3>NHS England processing of personal data</h3>
          <p>GDPR Article (6)(1)(e) – ‘processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller’.</p>
          <p>NHS England only collects, uses and shares your information when they have an appropriate legal basis to do so.</p>
          <p>Read the legal direction issued by NHS England.</p>-->

          <h3>DHSC processing of personal data</h3>
          <p>GDPR Article (6)(1)(e) – ‘processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller’.</p>
          <p>DHSC only collects, uses and shares your information when they have an appropriate legal basis to do so.</p>
          <p><a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/secretary-of-state-directions">Read the legal direction issued by DHSC</a></p>

          <h3>Devolved Administrations processing of personal data</h3>
          <p>GDPR Article (6)(1)(e) – ‘processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller’.</p>
          <p>Devolved Administrations only collect, use and share your information when they have an appropriate legal basis to do so. You should contact them for details of this.</p>

          <h3>IOMDHSC processing of personal data</h3>
          <p>GDPR Article (6)(1)(e) – ‘processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller’.</p>
          <p>IOMDHSC only collect, use and share your information when they have an appropriate legal basis to do so. You should contact them for details of this.</p>
        </div>

        <div id="how-personal-info">
          <h2>How we process your personal information</h2>
          <p>In the case of low-level, mid-level and high-level identity verification accounts we will use your personal information to create an account and enable you to log in to this.</p>
          <p>In the case of mid-level and high-level identity verification accounts we will use your personal information to create a match between you and records on the personal demographics service (PDS) (Find out more about PDS: <a href="https://digital.nhs.uk/services/demographics">Demographics - NHS Digital</a>).  Some Connected Services may request this matching includes the validation of the NHS login submitted contact details against the information held on PDS.</p>
          <p>In the case of high-level identity verification accounts NHS login will verify your ID online using an automated verification process. Where an automated decision cannot be made successfully, a manual verification process is then used.</p>

          <h3>Automated verification process</h3>
          <p>We use approved ID verification suppliers to complete our automated online ID verification process. As part of the automated ID verification process for high-level identity verification, users will be asked to present photo ID documentation and conduct a live video using Biometric ID verification technology. The personal data from your photo ID document is processed using technology which can automatically read the data on the document. This is checked against the details held within our demographic database before we match you to your NHS number. Users who use the automated ID verification process can select, via the options presented to them, to come out of the automated journey. They can then progress their submission via the manual ID verification journey. In circumstances where the automated ID process cannot positively match you to a record, your submission is then filtered to the manual ID verification process.</p>

          <h3>Manual verification process</h3>
          <p>Trained ID verification staff complete all manual online verification processes. They also review all of the unsuccessful fully automated online ID verification processes for high-level identity verification. As part of the manual ID verification user journey, users will be asked to provide personal data items, for example, NHS number, date of birth, first name, last name and postcode, as part of the process. For high-level identity verification they will also be asked to present photo ID documentation and upload a video selfie which records the user speaking the challenge code which has been sent to them. Trained ID checkers will check this against the details held within our demographic database before we match you to your NHS number.</p>
          <p>All submissions, successful or unsuccessful, and manual or automated, are subject to quality assurance and audit checks.</p>
        </div>

        <div id="sharing-connecting-parties">
          <h2>Sharing your information with your Connecting Parties</h2>
          <p>Connecting Parties will be onboarded to NHS login as part of an assured process. Once a Connected Service is onboarded, you will only be able to use NHS login when you are re-directed to NHS login from a Connected Service for the purpose of ID verification. The Connecting Parties will use NHS login as a method to authenticate you to their service. The Connecting Parties chose which level of identity verification is required to access their Connected Service.</p>
          <p>This means that Connecting Parties will receive from us and use the personal information NHS login hold about you to verify your identity as instructed by us, appropriate to the applicable identity verification level. Connecting Parties are data processors when they are undertaking this and must follow our legal agreements to make sure your personal information is secure and used only for the reasons we specify. By being a data processor, the Connected Party is acting under instruction from NHS Digital who is the controller.</p>
          <p>Connecting Parties will always relate to the provision of NHS, or social care, services to you. They may be provided by an organisation directly commissioned to provide NHS, or social care, services or by a supplier on behalf of a commissioned organisation.</p>

          <p>A data controller decides how and why personal information is processed. When you connect to and use a Connected Service following ID verification undertaken by NHS login, the organisation responsible for the Connected Service (which may be the provider or a customer of the provider) will also become a data controller for the information they hold about you in connection with the provision of the Connected Service. Details of this will be in their own privacy notice.</p>

          <p>Connecting Parties may also ask you to share personal information from your NHS login account so that they can tailor their service for you. For non NHS D services, NHS login will show you the data fields which the Connected Service is requesting, and we will only provide the data to them if you agree to this. This is optional and your access to the Connected Service is not dependent on your agreement to share the data between NHS login and the Connected Service, although you may need to access the Connected Service by a different route, and the Connected Service may require you to provide certain information in order to use their service.</p>
          <p>Each Connected Service you visit from NHS login will have their own terms and conditions and privacy notice. These should be read in conjunction with the NHS login <a href="terms">terms and conditions</a> and this privacy notice, so that you are clear on how your personal information is managed.
          </p>
        </div>

        <div id="sharing-information-nhs-systems">
          <h2>Sharing information with Connected NHS Systems</h2>
          <p>As part of the ID verification process, NHS login use the information held on the Personal Demographic Service (PDS) to match your verification request to an NHS record. Some of the data items submitted to NHS login, such as email address and mobile phone numbers may be more current than the information held on PDS, as such, NHS login provides the HIGH Identity verified NHS login user with a function to update these data items from NHS login to their record held on PDS. These data items may change or increase over time, however, this will be made clear to the user from the information presented to them on the pages.</p>
          <p>As part of the Help centre service, we will share the information you provide with our Corporate Service Management service. This is so that we can support you whilst you are using the NHS login service.</p>
        </div>


        <div id="how-protect-personal-info">
          <h2>How we protect your personal information</h2>
          <p>We take the security of your personal information very seriously. We have set up security measures, policies and procedures to make sure your personal information is protected.</p>
          <p>We protect your personal information by:</p>
          <ul>
            <li>training staff to understand data and security protection</li>
            <li>ensuring security and confidentiality policies are in place for our staff who have access to personal information</li>
            <li>monitoring our service</li>
            <li>using security features such as two-factor authentication</li>
            <li>introducing features such as ‘passwordless authentication’ and ‘remember my device’ to improve security and functionality</li><!-- Capital "I" in LIVE needs amending to lowercase-->
            <li>following good practice guidance provided by the National Technical Authority</li>
            <li>using legally binding agreements with all organisations, including those we use to process your personal information</li>
          </ul>
        </div>

        <div id="how-store-personal-info">
          <h2>How long we store your personal information</h2>
          <p>We store your personal information for as long as is reasonably necessary and legally justifiable. The length of time we store your information for will depend on legal, regulatory or technical requirements. In any event, we follow the Records Management Code of Practice for Health and Social Care (2016). The retention periods are explained here.</p>

          <h3>User accounts</h3>
          <p>Stored until your account is closed by you or remains unused for 24 months in total. If your account is unused for 12 months, it will be disabled and stored for a further 12 months, in case you want to reopen it during that time.</p>
          <p>You can delete your account anytime. If you delete your account, you must verify your identity again if you ever want to use NHS login in the future.</p>
          <p>The personal information within your NHS login account is:</p>
          <p>In the case of low-level identity verification accounts:</p>
          <ul>
            <li>mobile phone number</li>
            <li>email address</li>
          </ul>
          <p>In the case of mid-level and high-level identity verification accounts:</p>
          <ul>
            <li>mobile phone number</li>
            <li>email address</li>
            <li>NHS number</li>
            <li>date of birth</li>
            <li>first name</li>
            <li>middle names</li>
            <li>surname</li>
            <li>post code</li>
            <li>reference to any evidence you have provided</li>
          </ul>

          <h3>ID verification evidence</h3>
          <p>Information processed as part of your ID verification for high-level identity verification will be stored for eight months, starting from the date we verify the details on your account. This is true whether or not such verification is successful, and whether or not your account remains open. After this, your proof of identity information will be securely deleted.</p>
          <p>The information we store includes your:</p>
          <ul>
            <li>photo ID documentation, such as a passport or driving licence</li>
            <li>short video</li>
            <li>live video photo frame received from our ID verification suppliers</li>
          </ul>

          <h3>Log data</h3>
          <p>After an action is logged, we will store this general log data for one year. For example, an IP address that shows activity like webpage access, account login requests and login attempts.</p>

          <h3>Audit events</h3>
          <p>We store audit event information for 8 years from the event taking place.</p>
          <p>Audit event information lets us record:</p>
          <ul>
            <li>who verifies the identity evidence you provide</li>
            <li>when the ID verification took place</li>
            <li>the result of the ID verification</li>
            <li>when identity evidence is to be deleted</li>
            <li>details of the person verified</li>
            <li>deletion requests and who made them</li>
          </ul>

        </div>

        <div id="where-store-personal-info">
          <h2>Where your personal information is stored and processed</h2>
          <p>We store and process your information in the EEA. We will make sure your information is given the level of protection required by law and NHS policies.</p>
        </div>

        <div id="cookies">
          <h2>Cookies</h2>
          <p>We put small files called cookies onto your device, like your mobile phone or computer. We put strictly necessary cookies on your device for NHS login to work.</p>
          <p><a href="cookies">Read more about cookies</a></p>
        </div>

        <div id="your-rights">
          <h2>Your rights</h2>
          <p>Data protection laws provide you with a number of rights which you can exercise by contacting the appropriate Data Controller. NHS login does not hold any medical information but does hold the personal information described earlier to establish your identification.</p>
          <p>These general rights allow you to:</p>
          <ul>
            <li>request a copy of your personal information by completing a <a
                href="https://digital.nhs.uk/binaries/content/assets/website-assets/corporate-information/subject-access-requests/subject-access-request-application-form-july-18.docx">subject
                access request form.</a></li><!-- Fullstop in LIVE remove -->
            <li>change your information if it is wrong or incomplete</li>
            <li>request your personal information is deleted – if you believe it is no longer needed, though we may not be able to delete your information if there is a legal reason for us to not delete it</li>
            <li>request a restriction on the use of your personal information – if it is wrong and would like it to be changed before being used again</li>
          </ul>
        </div>

        <div id="complaints">
          <h2>Complaints</h2>
          <p>You have the right to complain about how we process your personal information. You can do this by emailing <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a> or you can go through the Information Complaints Office (ICO). The ICO is the regulator for data protection.</p>
        </div>

        <div id="changes">
          <h2>Changes to our privacy notice</h2>
          <p>Our privacy notice may change. The latest version of our privacy notice will be accessible through NHS login. We will inform you through NHS login if we make any material changes to our privacy notice, cookies policy or terms and conditions. This will allow you to refresh your consent if you wish to continue using NHS login.</p>
        </div>

      </section>




    </div>




    <aside class="nhsuk-grid-column-one-third">
      <div class="nhsuk-related-nav border-top__blue">
        <nav class="nhsuk-related-nav__nav-section" aria-labelledby="parent-title">
          <h2 class="nhsuk-heading-m" id="parent-title">Our policies</h2>
          <ul class="nhsuk-related-nav__list">

            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="terms">
                <p class="link-column">Terms and conditions</p>
              </a></li>

            <li class="nhsuk-related-nav__item app-side-nav__item--current">
              <p class="link-column">Your privacy on NHS login</p class="link-column">
            </li>

            <li class="nhsuk-related-nav__item"><a href="cookies">
                <p class="link-column">Cookies on NHS login</p>
              </a></li>

          </ul>
        </nav>
      </div>
    </aside>

  </div>
</article>

</div>

{% endblock %}