{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Do you know your NHS number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    <form method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you know your NHS number?
            </h1>
          </legend>

          <p class="nhsuk-body">Telling us your NHS number will give us the best chance of matching you to your NHS record.</p>
          <p class="nhsuk-body">You do not need to know your NHS number to continue. If you do not know it, you can tell us your full name instead.</p>
          
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How to find your NHS number
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
              <p>You can find it:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>on any letter the NHS has sent you</li>
                <li>on a prescription</li>
                <li>by logging in to a GP surgery online service</li>
                <li>on a vaccination letter</li>
              </ul>
              <p> Ask your GP surgery for help if you cannot find your NHS number.</p>

            </div>
          </details>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <div class="nhsuk-radios nhsuk-radios--conditional">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="know-nhs-number" name="know-nhs-number" type="radio" value="yes" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="know-nhs-number">
                    Yes, I know my NHS number
                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
                  <div class="nhsuk-form-group">
                    <span class="nhsuk-hint" id="nhs-number-hint">
                      Example: 485 777 3456
                    </span>
                    <input aria-label="NHS number" class="nhsuk-input nhsuk-u-width-two-thirds" id="nhs-number" name="nhs-number" value="{{ checked("nhs-number", "yes") }}" type="text" inputmode="numeric" pattern="[0-9]*">
                  </div>
                </div>
            
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="no-nhs-number" name="know-nhs-number" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="no-nhs-number">
                    No, continue with my full name
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          
        </fieldset>
      </div>
      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Routes</p>
        <ul>
          <li><a href="../demo/enter-name">User doesn't know NHS number</a></li>
        </ul>
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-radio-no-input">Field validation</a></li>
          <li><a href="../errors/error-nhs-number-digits-exceeded">>10 digits entered</a></li>
          <li><a href="../errors/error-nhs-number-field-validation">No NHS number on record</a></li>
          <li><a href="../errors/error-nhs-number-no-input">No user input</a></li>
          <li><a href="../errors/error-nhs-number-national-insurance">National insurance number input</a></li>
          <li><a href="../errors/error-nhs-number-numbers-and-letters">More or less than 10 numbers and includes letters</a></li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

{% endblock %}