{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Continue to ‘CLIENT NAME’
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="confirm-details">
            Continue to ‘CLIENT NAME’
          </label>
        </h1>
        <p>
          To access any areas of the service that contain your personal or confidential information, you must first prove who you are. This is to keep your information secure.
        </p>
        <p>
          If you try to access these areas, we will ask you to upload a photo of your ID and a recording of your face.
        </p>
        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>It is quicker if we can use the details from your GP surgery to prove who you are.
          </p>
          <p>
            If you would like to do this, <a href="../idvm-uplift/prove-who-you-are" class="nhsuk-link">go back and change your answer</a>.
          </p>
        </div>
        <p>
          Select <b>Continue</b> to go to <b>‘CLIENT NAME’</b>.
        </p>

        <a href="auth">
          <button class="nhsuk-button full-width" type="submit">
          Continue
          </button>
        </a>
        

    
    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <a href="error-prove-who-you-are">No user input</a>
        </ul>
      </div>
    </details>
    {% endif %}
    

  </div>
</div>

{% endblock %}