{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
There is a problem
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list">
          <li>
            <a href="#example-error-1">You need to confirm if these are your details</a>
          </li>
        </ul>
      </div>
    </div>

    <form action="#" method="POST">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="confirm-details">
            Confirm your details
          </label>
        </h1>

        <p class="nhsuk-body">
          We found this NHS record using the information you gave us.
        </p>

        <div class="nhsuk-table-responsive nhsuk-u-padding-bottom-4">
          <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><b>Name</b></td>
                <td class="nhsuk-table__cell ">Alex smith</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><b>Date of birth</b></td>
                <td class="nhsuk-table__cell ">18 August 1989</td>
              </tr>
              <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell"><b>Postcode</b></td>
                <td class="nhsuk-table__cell ">AB3 4CD</td>
              </tr>
              <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell"><b>NHS number</b></td>
                <td class="nhsuk-table__cell ">*** *** 3456</td>
              </tr>
            </tbody>
          </table>
        </div>

          <div class="nhsuk-form-group">
            <h3 class="nhsuk-heading-m">Are these your details?</h3>
            <fieldset class="nhsuk-fieldset">
              <div class="nhsuk-radios nhsuk-form-group--error">
          
                <span class="nhsuk-error-message" id="example-error-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Select whether or not these are your details


                </span>

                <div class="nhsuk-radios__item">
                    
                  <input class="nhsuk-radios__input" id="yes" name="prove-who-radio" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Yes, these are my details
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="no" name="prove-who-radio" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="no">
                    No, these are not my details
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="yes" name="prove-who-radio" type="radio" value="incorrect">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    These are my details but some are wrong
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
        
    </form>

    <!--
    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <a href="../errors/error-p5-p9-uplift-no-user-input">No user input</a>
        </ul>
      </div>
    </details>
    {% endif %}
    -->
    

  </div>
</div>

{% endblock %}