{% extends 'layouts/layout.html' %}

{% block pageTitle %}
There is a problem
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
        There is a problem
      </h1>

      <p>Your NHS login has been disabled. We are looking into this for you.</p>
      
      <h3>What happens next</h3>

      <p>We will email you when the issue is fixed or if we need any information. You should not create a new NHS login or visit your GP surgery to fix this issue.
      </p>

      <p>Reference: <b>CID7031</b></p>
      <div class="nhsuk-u-padding-bottom-2"></div>

    </div>
  </div>

{% endblock %}
