{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Registration complete
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="..//idvm-uplift/user-profile">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to: Confirm your details</a>
    </div>

    <form action="#" method="POST">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="confirm-details">
            Registration complete
          </label>
        </h1>
        
        <p>
          You can now access <b>‘CLIENT NAME’</b>.
        </p>
        <p>
          To access any areas of the service that contain your personal or confidential information, you must first prove who you are.
        </p>
        <p>
          We can use the details from your GP surgery’s online services to prove who you are.
        </p>

        <div class="nhsuk-form-group">

          <div class="nhsuk-form-group">
            <h3 class="nhsuk-heading-m">Can we use your details?</h3>
            <fieldset class="nhsuk-fieldset">
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="yes" name="prove-who-radio" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="no" name="prove-who-radio" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        
        </div>
        

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
        
    </form>

    
    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <a href="error-prove-who-you-are">No user input</a>
        </ul>
      </div>
    </details>
    {% endif %}
    

  </div>
</div>

{% endblock %}