.spinner-wrapper {
  margin-top: 8px;
  display: inline-block;
  position: relative;
}

.spinner-wrapper.p:active {
  color: grey;
}

#loading {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #005eb8;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}