{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Agree to share more information
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
          Agree to share more information
        </h1>

        <svg class="nhsuk-icon nhsuk-icon__user nhsuk-icon--size-50 nhsuk-u-margin-right-2" xmlns="http://www.w3.org/2000/svg" viewBox="6 0 20 24" width="32" aria-hidden="true">
          <path fill="#005eb8" class="user-icon" d="M16,2a10,10,0,0,0-1.09,19.93H15A6,6,0,0,0,16,22a6,6,0,0,0,1-.06h.05A10,10,0,0,0,16,2Zm5.4,15.88a6.45,6.45,0,0,0,.14-.88,5.3,5.3,0,0,0-2.4-4.14,4.89,4.89,0,0,1-6.28,0A5.3,5.3,0,0,0,10.46,17a6.45,6.45,0,0,0,.14.88,8,8,0,1,1,10.8,0Z"/>
          <circle fill="#005eb8" class="user-icon" cx="16" cy="9" r="3"/>
        </svg>

        <div class="icon-text">
            <span>Your NHS login is:</span>
            <h2 class="nhsuk-heading-s">Jonathan Liam Kingston</h2>
        </div>

        <p class="nhsuk-body-m">To continue, you need to agree to share more NHS login information with the NHS App.</p>

        <p>This is so that you can access the features of NHS App.</p>
        
        <p class="nhsuk-body-m">You have already shared your:</p>
        <ul>
          <li>NHS number</li>
          <li>date of birth</li>
          <li>last name</li>
          <li>registration details for GP online services</li>
        </ul>

        <p class="nhsuk-body-m">NHS App will also use your:</p>
        <ul>
          <li>first name</li>
          <li>email address</li>
        </ul>

        <p class="nhsuk-body-m">Before continuing, read their terms of use and privacy policy to check how your information will be used.</p>

        <p>By continuing, you agree to let us use your information.</p>

        <button class="nhsuk-button full-width" href="auth">
         Agree and continue
        </button>

        <p><a href="">I do not agree to share this information</a></p>

        {% if data['devMode'] %}
        <details class="nhsuk-details dev-mode" role="group">
          <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
            <span class="nhsuk-details__summary-text">
              Continue with testing scenario
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Alternative scenarios</p>
            <ul>
              <li><a href="auth-consent-extra-scope-one">More than one additional scope is requested</a></li>
              <li><a href="auth-consent-extra-scope-all">Full list of scopes</a></li>
            </ul>
            <p>Routes</p>
            
          </div>
        </details>
        {% endif %}

  </div>
</div>

{% endblock %}
