{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Reset your password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            Reset your password
          </h1>
    
          <form action="reset-password-success" method="post" autocomplete="on">
            <label class="nhsuk-label" for="input-with-hint-text">
                New password
              </label>
              <span class="nhsuk-hint" id="input-with-hint-text-hint">
                <p>Your password must have:<ul></span><li>8 characters or more</li><li>1 capital letter or more</li></ul></p>
              </span>
            <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
              <div style="display: inline; position: relative;">
                <button type="button" aria-pressed="false" class="button-link form__toggle-password" data-toggle-password style="border: none; position: absolute; right: 10px; top: -5px;">
                  <span class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
                </button>
              </div>
              
              <label class="nhsuk-label nhsuk-u-margin-top-3" for="input-with-hint-text">
                  Confirm password
                </label>
              <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
              <div style="display: inline; position: relative;">
                <div style="display: inline; position: relative;">
                  <button type="button" aria-pressed="false" data-toggle-password-confirm class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                    <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
                  </button>
                </div>          
              </div>

              <div class="nhsuk-u-margin-top-4  ">
                <button class="nhsuk-button full-width" id="button--save" type="submit">
                    Reset password
                </button>
              </div>

              {% if data['devMode'] %}
              <details class="nhsuk-details dev-mode" role="group">
                <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
                  <span class="nhsuk-details__summary-text">
                    Continue with testing scenario
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>Errors</p>
                  <ul>
                    <li><a href="../errors/error-reset-password-no-input">No input [first field]</a></li>
                    <li><a href="../errors/error-reset-password-no-input-confirm">No input [second field]</a></li>
                    <li><a href="../errors/error-reset-password-dont-match">Passwords don't match</a></li>
                    <li><a href="../errors/error-reset-password-regex-both">Field validation error on both</a></li>
                  </ul>   
                </div>
              </details>
        
              {% endif %}
    

    </div>
  </div>

{% endblock %}
