<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Create a password
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "NHS login",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {% from 'back-link/macro.njk' import backLink %}
        {{ backLink({
            "href": "enter-email",
            "text": "Back to: enter email address"
          }) }}


        
          
        <h1 class="nhsuk-heading-l">Create a password</h1>

        <form action="register-check-email" method="POST">
          <div class="nhsuk-form-group">
          
            <label class="nhsuk-label" for="createPassword">
              Enter a password
            </label>

            <div class="nhsuk-hint">
              <p>
                Your password must have:
              </p>
              <p class="nhsuk-hint">
                <ul>
                  <li>8 characters or more</li>
                  <li>1 capital letter or more</li>
                </ul>
              </p>
            </div>
          
          <input class="nhsuk-input nhskuk-input--width-20" id="password" name="password" type="password" data-toggle-password-field>

          <label class="nhsuk-label nhsuk-u-margin-top-3" for="createPassword">
            Confirm password
          </label>
        
        <input class="nhsuk-input nhskuk-input--width-20" id="emailAddress" name="emailAddress" type="email">

        <input type="hidden" name="emailAddress" id="emailAddress" value="{{data['emailAddress']}}" />

        </div>

        <div class="nhsuk-u-margin-top-7">
          <h2 class="nhsuk-heading-m">Agree to our terms of use​</h2>
          <p class="nhsuk-body">We will collect and save your information securely. We will not share your personal information without your consent.</p>
          <p class="nhsuk-body">By continuing you confirm that you agree to our <a href="privacy">privacy notice</a> and <a href="terms">terms and conditions</a>.</p>
        </div>

        <button class="nhsuk-button" type="submit">Continue</button>
        

      </form>
        
        

        
    

        
      



    </div>
  </div>
{% endblock %}










<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
