{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Cookie settings saved
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="cookies">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to: NHS login cookies</a>
    </div>

    <h1>Your cookie settings have been saved</h1>

    </div>
</div>

<article>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">

    <section>
    
    <div>
      <p>We'll save your settings for a year.</p>
      <p>We'll ask you if you're still OK with us using cookies when either:</p>
      <ul>
        <li>it's been a year since you last saved your settings</li>
        <li>we add any new cookies or change the cookies we use</li>
      </ul>
      <p>You can also change your settings at any time using our <a href="manage-cookies">cookies page.</a></p>
    </div>
    </section>

    </div>
  </div>

</div>

</article>
{% endblock %}
