{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          "href": "login-yes-no",
          "text": "Go back"
        }) }}

      <div class="nhsuk-card>
      <div class="nhsuk-card__content">

        <h1 class="nhsuk-fieldset__legend--l">Set up an NHS login</h1>

        <p class="govuk-body-m">To create an NHS login you will need your mobile phone, as we will text you a security code.</p>

        <p class="govuk-body-m">You also need to prove who you are. You can do this using your photo I.D. and a video selfie, or registration details from your GP surgery’s online services.</p>

        <h2 class="govuk-heading-m">Prove who you are</h3>

        <h3 class="govuk-heading-s">Photo I.D. and video selfie</h3>
        <p>Accepted types of photo I.D. are:</p>
        <ul>
          <li>Passport</li>
          <li>UK driving licence</li>
          <li>European driving licence</li>
          <li>European national identity card</li>
        </ul>
        <p>This will take around 20 minutes. This may take longer if you are using assistive technologies.</p>

        <h3 class="govuk-heading-s">Registration details</h3>
        <p>Registration details from your GP surgery’s online services include:</p>
        <ul>
          <li>Linkage key (could be called a Passphrase)</li>
          <li>O.D.S. Code (could be called an Organisation Code or Practice I.D.)</li>
          <li>Acccount I.D.</li>
        </ul>
        <p>This will take around 10 minutes. This may take longer if you are using assistive technologies.</p>

        <!-- ---------------- -->

        <a href="enter-email" class="nhsuk-button">Continue</a>

      </div>
      </div>


    </div>
  </div>

{% endblock %}