{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Checking your details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Checking your details</h1>

    <form action="auth" method="post">
      <section class="loading-container" id="gp-connect-0" style="display:block; min-height: 16em;">

        <div class="bar_container">
          <div id="main_container">
            <div id="pbar" class="progress-spinner" data-percent="0">
              <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class="" />
              <div class="ppc-loading">
                <div class="pcc-percents-wrapper">
                  <span id="spinner-status" class="nhsuk-body">Loading</span><span aria-hidden="true">...</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-auth-pds-1">PDS error 1 - No match</a></li>
          <li><a href="../errors/error-auth-pds-2">PDS error 2 - API calls exceeded</a></li>
          <li><a href="../errors/error-auth-pds-3">PDS error 3 - NHS number not verified</a></li>
          <li><a href="../errors/error-auth-pds-4">PDS error 4 - Multiple matches</a></li>
          <li><a href="../errors/error-auth-pds-5">PDS error 5 - Record invalidated</a></li>
          <li><a href="../errors/error-be-generic-2">PDS error 6 - Technical (generic) back-end error</a></li>
        </ul>
        <p>Routes</p>
        <ul>
          <li><a href="auth-terms">Updated terms of use</a></li>
          <li><a href="auth-consent">Agree to give consent to information use</a></li>
          <li><a href="auth-consent-extra-scope">Agree to give consent to <b>additional</b>
              information use</a></li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

<!--

<script>
  setTimeout(function () {
    window.location.href = '/p5/vsps-reg-p5-plugin/know-nhs-number';
  }, 2500);
</script>

{% if data['consent'] %}
<script>
  setTimeout(function () {
    window.location.href = 'https://nhs-contact.herokuapp.com/app/p5/terms';
  }, 2000);
</script>
{% endif %}

-->

<script>
  setTimeout(function () {
    window.location.href = '/p5/know-nhs-number';
  }, 2500);
</script>



{% endblock %}