{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="register-account-creation-alert" autocomplete="on" class="form" method="get">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Enter your email address
          </h1>
        </legend>
        

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="emailAddress">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress"
            value= "{{ data['emailAddress'] }}" type="email">
        </div>

        <button class="nhsuk-button">Continue</button>

      </fieldset>
    </form>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <h3>What is NHS login?</h3>
          <p>You can use your NHS login to access health websites and apps that have the NHS login button. If you do not have an NHS login, enter your email address to set one up.</p>
        </div>
      <div class="nhsuk-warning-callout  nhsuk-u-margin-top-3">
        <h3 class="nhsuk-warning-callout__label">Coronavirus (COVID-19)</h3>
        <p>For health information and advice, read <a href="#" class="nhsuk-link">NHS guidance about Coronavirus</a></p>
      </div>

    <!--{% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Routes</p>
        <ul>
          <li><a href="login-enter-password">User has account</a></li>
        </ul>
        <ul>
          <li><a href="covid-19-message">COVID-19 message</a></li>
        </ul>
        <p>Timeouts</p>
        <ul>
          <li><a href="../errors/error-session-timeout">Session timeout</a></li>
        </ul>
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-email-no-input">No input</a></li>
          <li><a href="../errors/error-email-regex">Field validation</a></li>
          <li><a href="../errors/error-lock-OTP-attempts-exceeded">Account lock: OTP incorrect attempts exceeded (< 5
                times)</a> </li> <li><a href="../errors/error-lock-OTP-incorrect-attempts-exceeded">Account lock: OTP
                  attempts exceeded (> 5 times)</a>
          </li>
          <li><a href="../errors/error-lock-OTP-requests-exceeded">Account lock: OTP requests exceeded</a></li>
          <li><a href="../errors/error-lock-password-attempts-exceeded">Account lock: Password attempts exceeded</a>
          </li>
          <li><a href="../errors/error-lock-p5-p9-nhs-no-mismatch">Account lock: P5 to P9 - NHS Number mismatch</a></li>
        </ul>
      </div>
    </details>
    {% endif %}--->
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      window.location.href = target.dataset.redirect;
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}