{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      "href": "enter-email",
      "text": "Back to: Enter your email address"
    }) }}


    <h1 class="nhsuk-heading-l">
      Check your email
    </h1>

      <p>Enter the 6 digit security code we’ve sent to <a href="/emails/email-security-code" target="_blank" style="color: #212b32; text-decoration: none;"><b>{{ data.emailAddress or 'mail@mail.com' }}</b></a> to confirm this is your email address.</p>
      <p>You need to use this code within <b>24 hours</b> or it will expire.</p>

      
      <p><a href="register-check-email-resend">Request a new security code</a></p>

      
      <form action="register-enter-phone" method="post">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-with-hint-text">
            Security code
          </label>
          <span class="nhsuk-hint" id="otp-hint-text">
            The code is 6 numbers
          </span>
          <input
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text" name="otp"
            type="number" aria-describedby="security-code-input">
        </div>


        <fieldset class="nhsuk-fieldset">
          <input id="emailAddress" name="emailAddress" value= {{ data.emailAddress or 'mail@mail.com' }} type="hidden">
        </fieldset>
        <button data-redirect="register-enter-phone" class="nhsuk-button full-width"
          id="button--save">Continue</button>

    </form>


    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Email lookup</p>
        <ul>
          <li><a href="register-check-email-nudge">User hasn't checked email</a></li>
        </ul>
      </div>
    </details>

    {% endif %}


  </div>
</div>

{% endblock %}