{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
What you need
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "enter-email",
        "text": "Back to: Enter your email address"
      }) }}

    <form action="register-create-password" method="post">
      <h1 class="nhsuk-heading-l">
        What you need
      </h1>

      <div class="start-info">
        <div class="start-info-content">
          <p>So that we can match you to your NHS record, we will ask you to provide your:</p>
          <ul>
            <li>NHS number or name</li>
            <li>date of birth</li>
            <li>postcode</li>
          </ul>
        </div>
      </div>

      <div class="start-info">
        <div class="start-info-content">
          <p>
            Telling us your NHS number will give us the best chance of matching you to your NHS record. If you do not know your NHS number, you can tell us your full name instead.
          </p>
        </div>
      </div>

      <div class="start-info">
        <div class="start-info-content">
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How to find your NHS number
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
              <p>You can find it:</p> 

              <ul>
                <li>on any letter the NHS has sent you</li>
                <li>on a prescription</li>
                <li>by logging in to a GP surgery online service</li>
                <li>on a vaccination letter</li>
              </ul>
    
              <p> Ask your GP surgery for help if you cannot find your NHS number.</p>
            </div>
          </details>
        </div>
      </div>

      <div class="start-info">
        <div class="start-info-content">
          <h2 class="nhsuk-heading-m start-heading">A mobile phone</h2>
          <p>You will need a working mobile phone with signal, as we will text you a security code.</p>
        </div>
      </div>

      <a href="register-create-password">
        <button class="nhsuk-button full-width" action="submit">Continue</button>
      </a>

    </form>

  </div>
</div>

{% endblock %}