{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
There is a problem
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            There is a problem
        </h1>

        <p class="nhsuk-body">Your NHS login may have been disabled.</p>
        <p>Reference: <b>CID2012</b></p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
                <a href="https://help.login.nhs.uk/mixedsupport#reference-cid2012%3A-your-nhs-login-may-have-been-disabled" title="reference cid2012 help centre link">What does reference CID2012 mean?</a>
            </p>
        </div>

    </div>
</div>


{% endblock %}