{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Wait to change your phone number again
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            Wait to change your phone number again
        </h1>

        <p class="nhsuk-body">You have already requested to change your phone number linked to your NHS login in the last 24 hours.</p>
        <p class="nhsuk-body">You must wait up to 24 hours before you can change your phone number again.</p>

    </div>
</div>

{% endblock %}