{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your mobile phone number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="login-enter-OTP-recovery">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to: Check your mobile phone
            </a>
        </div>

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              <ul class="nhsuk-list nhsuk-error-summary__list">
                <li>
                  <a href="#error-int-number-invalid">Enter an international mobile phone number in the correct format</a>
                </li>
              </ul>
            </div>
          </div>

        <form action="../v8/acc-recovery-enter-new-mobile-number" method="POST" role="form">

            <h1 class="nhsuk-heading-l">Enter your mobile phone number</h1>
            <p class="nhsuk-body">We need you to confirm the number linked to your NHS login.</p>
            <p class="nhsuk-body">We will not text a security code to this number.</p>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="mobile-number">Mobile number</label>
                <span class="nhsuk-hint">Enter your number below.</span>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile-number" name="mobile-number" type="number">
            </div> <!-- end nhsuk-form-group -->

            <!-- Conditional reveal Checkbox -->

          <div class="nhsuk-form-group">
            <div class="nhsuk-checkboxes">
              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                  <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional conditional-reveal--border-colour">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="int-checkbox" name="contact" type="checkbox" value="text" aria-controls="conditional-int-checkbox" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="int-checkbox">I have an international mobile number</label>
                    </div>
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-int-checkbox">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="mobile">International mobile number</label>
                        <span class="nhsuk-hint nhsuk-checkboxes__conditional__hint" id="example-hints-1-item-hint">
                          Please enter + and then your country code before your phone number. For example, <b>+353</b>7777666555
                        </span>
                        <span class="nhsuk-error-message" id="uk-mobile-number-error">
                          <span class="nhsuk-u-visually-hidden">Error:</span> Enter an international mobile phone number in the correct format
                        </span>
                        <input class="nhsuk-input nhsuk-input--error nhsuk-input--width-20" id="mobile" name="mobile" type="text">
                      </div> <!-- end nhsuk-form-group --> 
                    </div> <!-- end nhsuk-checkboxes__conditional -->
                  </div> <!-- end nhsuk-checkboxes -->
                </fieldset> <!-- nhsuk-fieldset -->
            </div>
        </div>

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>

        </form> <!-- end form -->

        {% if data['devMode'] %}
        <details class="nhsuk-details dev-mode" role="group">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0"
                aria-expanded="true">
                <span class="nhsuk-details__summary-text">
                    Continue with testing scenario
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Errors</p>
                <ul>
                    <li><a href="../errors/error-acc-recovery-mobile-no-input">No user input</a></li>
                    <li><a href="../errors/error-acc-recovery-international-number-invalid">Invalid international number format</a></li>
                </ul>
            </div>
            <div class="nhsuk-details__text">
                <p>Routes</p>
                <ul>
                    <li><a href="acc-recovery-route-no-recovery-email">User is P>0 and does not have a recovery email</a></li>
                    <li><a href="acc-recovery-user-p0">User with p=0</a></li>
                </ul>
            </div>
        </details>

        {% endif %}

    </div> <!-- end grid-column-two-thirds -->
</div> <!-- end nhsuk-grid-row -->

<script>

    // This script is for the register-enter-phone screen in the registration journey as well as 
    // the account recovery journeys where we ask users to enter their mobile phone number

    // The proposed design / interaction for this, is because there is a conditional reveal checkbox
    // which displays another input field, users could get confused with which input field to interact
    // with this script disables the default mobile number input field if the checkbox is selected.

    document.getElementById('int-checkbox').onchange = function() {
        document.getElementById('mobile-number').disabled = this.checked;
    };

  </script>

{% endblock %}