{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      {{ backLink({
        "href": "enter-email",
        "text": "Back to: Enter your email"
      }) }}

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="#error-OTP-no-input">Enter your password</a>
              </li>
            </ul>
          </div>
        </div>

      <h1 class="nhsuk-heading-l">
        Enter your password
      </h1>

      <form action="login-enter-OTP" class="nhsuk-form-group--error" method="post" autocomplete="on">
        <label class="nhsuk-label" for="input-with-hint-text">
            Enter your password to log in.
        </label>  
        <label class="nhsuk-label nhsuk-u-margin-top-3" for="input-with-hint-text">
            Password
        </label>
        <span class="nhsuk-error-message" id="error-OTP-no-input">
            <span class="nhsuk-u-visually-hidden">Error:</span>Enter your password
        </span>
          <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
          <div style="display: inline; position: relative;">
            <div style="display: inline; position: relative;">
              <button type="button" aria-pressed="false" data-toggle-password-confirm class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
              </button>
            </div>          
          </div>
        </form>

          <div class="nhsuk-u-margin-top-5">
              <p><a href="reset-check-email">Forgotten your password?</a></p>
          </div>

          <div>
            <button class="nhsuk-button full-width" type="submit">
                Continue
            </button>
          </div>

          </div>
        </div>

    </div>


{% endblock %}