{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Something went wrong
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
        This security code has expired
      </h1>

      <p>This is because it has been more than 5 minutes since it has been sent.</p>
      <p><a href="../v4/register-enter-phone">Enter your phone number</a> to get a new security code.</p>

    </div>
  </div>

{% endblock %}
