{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  This link does not work
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
      <h1 class="nhsuk-heading-l">
        This link has expired
      </h1>
      <p>It has been more than 1 hour since it was sent.</p>
      <p>You will have to <a href="../v7/reset-check-email">request a new link to reset your password</a>.</p>
    </div>
  </div>

{% endblock %}
