{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
This link does not work
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            This link does not work
        </h1>

        <p class="nhsuk-body">It has been more than 24 hours since the link was sent to your email. We may have already changed your phone number.</p>

        <p class="nhsuk-body">You can change your phone number again on your <a href="#" class="nhsuk-link">NHS login settings</a>.</p>

        <p class="nhsuk-body">Visit the <a href="https://help.login.nhs.uk" class="nhsuk-link">NHS login help centre</a> if you did not mean to change your phone number, or you do not have access to the phone number on your NHS login.</p>

        <p class="nhsuk-body">Reference: <b>CID3002</b></p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="#" title="External help cetnre link">What does reference CID3002 mean?</a></p>
        </div>
        

    </div>
</div>

{% endblock %}