{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
    We have logged you out
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-l">We have logged you out</h1>

        <p class="nhsuk-body">This is to keep your information secure, because it has been more than 1 hour since you logged in.</p>

        <p class="nhsuk-body">To continue, go back to <a href="#" class="nhsuk-link"><b>‘client name’</b></a> and log in again.</p>
    </div>
</div>


{% endblock %}