{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  This link does not work
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-fieldset__legend--l">
        You have already confirmed your email address
      </h1>

      <p>You can use your NHS login to access <b>'client name'</b>.</p>
      <p>Go to <a href="#" class="nhsuk-link"><b>'client name'</b></a> to continue.</p>

      <p>Reference: <b>CID1003</b></p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p><a href="https://help.login.nhs.uk/manage/emailaddresses#used-link-%E2%80%93-reference-cid1003" title="External help centre article link">What does reference CID1003 mean?</a></p>
      </div>

    </div>
  </div>

{% endblock %}
