{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  We cannot find that page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
            We cannot find that page
        </h1>

        <p class="nhsuk-body">This can happen if:</p>

        <p class="nhsuk-body">You can buy:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>You type a web address and it has a mistake in it</li>
            <li>You copy and paste only part of a full web address</li>
            <li>There is a technical problem</li>
        </ul>

        <p class="nhsuk-body">Check and make sure the web address you typed or pasted is correct and is the full address.</p>

        <p class="nhsuk-body">If the web address is correct, or you selected a link on a page that brought you here, there may be a technical problem. Please try again later.</p>

        <p class="nhsuk-body">Reference: <b>CID1004</b></p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p class="nhsuk-body"><a href="#" title="Help centre link">What does CID1004 mean?</a></p>
        </div>
    </div>
  </div>

{% endblock %}
