{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  Enter your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
        We do not know which website or app you are trying to access
      </h1>

      <p class="nhsuk-body">Go to the website or app you want to access and select <b>Continue with NHS login</b>.</p>

      <p>Reference: <b>CID1004</b></p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
          <a href="https://help.login.nhs.uk/mixedsupport#reference-cid1004%3A-we-do-not-know-which-website-or-app-you-are-trying-to-access" class="nhsuk-link">What does reference CID1004 mean?</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
