{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <div class="nhsuk-error-summary error-be-validation" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          You have not confirmed your email address
        </h2>
        <div class="nhsuk-error-summary__body">
          <p>
              You must confirm your email address before you can continue
          </p>
        </div>
      </div>


      <h1 class="nhsuk-heading-l">
        You need to confirm your email
      </h1>

      {% if data['user-email'] %}
      <p>We've sent an <a style="color: #212b32; text-decoration: none;" href="/emails/email-confirm" target="_blank">email</a> to {{ data['user-email'] }}.</p>
      {% else %}
      <p>We've sent an <a style="color: #212b32; text-decoration: none;" href="/emails/email-confirm" target="_blank">email</a> to mail@mail.com</p>
      {% endif %}

      <p>When you have confirmed your email you can continue to access the NHS App.</p>

      <p>Select confirm in the email and come back to this screen.</p>

      <form class="nhsuk-form-group--error">

      <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-4">
          
          <span class="nhsuk-error-message" id="error-regex">
              <span class="nhsuk-u-visually-hidden">Error:</span>Confirm your email address
          </span>

          <div class="nhsuk-checkboxes__item">
            <input style="padding-right: 16px;" class="nhsuk-checkboxes__input" id="button--enable" name="button--enable" type="checkbox">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="button-enable">
              I have confirmed my email address
            </label>
          </div>

        </div>

      </form>

      <a class="nhsuk-button full-width nhsuk-button--disabled" id="button--continue" href="register-enter-phone">
          Continue
      </a> 

      <p>You can <a href="enter-email">re-enter your email address</a> if you got it wrong.</p>
      <p>Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>


      {% if data['devMode'] %}
      <details class="nhsuk-details dev-mode" role="group">
        <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="nhsuk-details__summary-text">
            Continue with testing scenario
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Error</p>
          <ul>
            <li><a href="register-check-email-error">User hasn't checked email - step 2</a></li>
          </ul>
        </div>
      </details>

      {% endif %}
    </div>
  </div>


<script type="text/javascript">
var checkbox = document.getElementById('button--enable');
var button = document.getElementById('button--continue');

checkbox.addEventListener('change', (event) => {
  if (event.target.checked) {
    button.classList.remove('nhsuk-button--disabled');
  } else {
    button.classList.add('nhsuk-button--disabled');
  }
});
</script>
{% endblock %}
