{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  You cannot use your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
        You cannot use your NHS login
      </h1>

      <p>This is because some information you sent us does not match our records. We are looking into the problem.</p>

      <p>You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>

      <p>We will keep you updated by email.</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p class="">Reference: CID2013<br></p>

        <p>You will get another reference number when we email you.</p>
    </div>
  </div>

{% endblock %}
