{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  Enter your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#error-email-regex">Enter a valid email address</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="nhsuk-heading-l">
        Enter your email address
      </h1>

      <span id="error-email-regex">
          <p>Enter your email address to create or log in to NHS login.</p>
      </span>

      <form action="/set-up/v2/check-your-email" class="nhsuk-form-group--error" method="post">
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-with-hint-text">
            Email address
          </label>
          <span class="nhsuk-error-message" id="error-regex">
            <span class="nhsuk-u-visually-hidden">Error:</span>Enter a valid email address
          </span>
          <input class="nhsuk-input nhsuk-input--width-20" id="user-email" name="user-email" type="text" aria-describedby="user-email" value="{{ data['user-email'] }}">
        </div>

      </form>
      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <h3>What is NHS login?</h3>
          <p>From September 2018, NHS login is a new way to log in to health websites and apps. If you do not have an NHS login, you'll need to set one up. Then you can access online health services wherever you see 'NHS login'.</p>
        </div>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </div>
  </div>

{% endblock %}
