{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="#error-email-regex">Enter a valid password</a>
              </li>
            </ul>
          </div>
        </div>
        
      <h1 class="nhsuk-fieldset__legend--l">
        Create a password
      </h1>

      <form action="/set-up/v2/enter-phone" class="nhsuk-form-group--error" method="post" autocomplete="on">
        <label class="nhsuk-label" for="input-with-hint-text">
            Create a password
          </label>
          <span class="nhsuk-hint" id="input-with-hint-text-hint">
            <p>Your password must have:<ul></span><li>8 characters or more</li><li>1 capital letter or more</li></ul></p>
          </span>
          <span class="nhsuk-error-message" id="error-regex">
              <span class="nhsuk-u-visually-hidden">Error:</span>Enter a valid password
            </span>
        <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
          <div style="display: inline; position: relative;">
            <button type="button" aria-pressed="false" class="button-link form__toggle-password" data-toggle-password style="border: none; position: absolute; right: 10px; top: -5px;">
              <span class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
            </button>
          </div>

        </form>
        <form>
          
          <label class="nhsuk-label nhsuk-u-margin-top-3" for="input-with-hint-text">
              Confirm password
            </label>
          <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">
          <div style="display: inline; position: relative;">
            <div style="display: inline; position: relative;">
              <button type="button" aria-pressed="false" data-toggle-password-confirm class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
              </button>
            </div>          
          </div>

          <div class="nhsuk-u-margin-top-5">
            {{ button({
              "text": "Continue",
              "id": "btn_submit"
            }) }}
          </div>
        </div>  
        
      </form>


    </div>


{% endblock %}