<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="../../index">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back to: Prototype homepage</a>
    </div>
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl">
      P5 front-end errors
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <!-- Do you know your NHS number> -->

        <details class="nhsuk-details nhsuk-expander version-list">
            <summary class="nhsuk-details__summary details-index">
                <span class="nhsuk-details__summary-text">
                    Do you know your NHS number?
                </span>
            </summary>
                <div class="nhsuk-details__text version-text">
                    <table>
                        <tbody>
                            <tr>
                                <th><strong><a href="../../p5/know-nhs-number">Do you know your NHS number screen</a></strong></th>
                            </tr>
                            <tr>
                                <td><a href="../../p5/errors/error-radio-no-input">No user input</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </details>

    <!-- Enter your NHS number -->

        <details class="nhsuk-details nhsuk-expander version-list">
            <summary class="nhsuk-details__summary details-index">
                <span class="nhsuk-details__summary-text">
                    Enter your NHS number
                </span>
            </summary>
            <div class="nhsuk-details__text version-text">
                <table>
                    <tbody>
                        <tr>
                            <th><strong><a href="../../p5/enter-nhs-number">Enter your NHS number screen</a></strong></th>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-nhs-number-digits-exceeded">>10 digits entered</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-nhs-number-field-validation ">No NHS number on record</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-nhs-number-no-input ">No user input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-nhs-number-national-insurance ">National Insurance number input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-nhs-number-numbers-and-letters">More or less than 10 numbers and includes letters</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>

    <!-- ... -->

        <details class="nhsuk-details nhsuk-expander version-list">
            <summary class="nhsuk-details__summary details-index">
                <span class="nhsuk-details__summary-text">
                    What is your date of birth
                </span>
            </summary>
            <div class="nhsuk-details__text version-text">
                <table>
                    <tbody>
                        <tr>
                            <th><strong><a href="../../p5/enter-dob">What is your date of birth screen</a></strong></th>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-no-user-input">No user input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-day">No day input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-month">No month input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-year">No year input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-no-input-two-fields">No user input in more than 1 field</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-invalid-format">Invalid format</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-invalid-year">User enters a date in the future</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-dob-year-less-than-4-digits">User enters a year with 1, 2 or 3 digits</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>

    <!-- Enter your full name -->

    <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary details-index">
            <span class="nhsuk-details__summary-text">
                Enter your full name
            </span>
        </summary>
        <div class="nhsuk-details__text version-text">
            <table>
                <tbody>
                    <tr>
                        <th><strong><a href="../../p5/enter-name">Enter your full name screen</a></strong></th>
                    </tr>
                    <tr>
                        <td><a href="../../p5/errors/error-enter-first-last-name">No user input</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../p5/errors/error-enter-first-name ">No user input first name field</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../p5/errors/error-enter-last-name">No user input last name field</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../p5/errors/error-enter-name-one-character ">Invalid format</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>

    <!-- What is your postcode? -->

        <details class="nhsuk-details nhsuk-expander version-list">
            <summary class="nhsuk-details__summary details-index">
                <span class="nhsuk-details__summary-text">
                    What is your postcode?
                </span>
            </summary>
            <div class="nhsuk-details__text version-text">
                <table>
                    <tbody>
                        <tr>
                            <th><strong><a href="../../p5/enter-postcode">What is your postcode screen</a></strong></th>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-postcode-no-input">No user input</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-postcode-field-validation">Invalid format</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
    
    <!-- PDS Errors -->

        <details class="nhsuk-details nhsuk-expander version-list">
            <summary class="nhsuk-details__summary details-index">
                <span class="nhsuk-details__summary-text">
                    PDS Errors
                </span>
            </summary>
            <div class="nhsuk-details__text version-text">
                <table>
                    <tbody>
                        <tr>
                            <th><strong><a href="../../p5/auth">Auth screen</a></strong></th>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-no-match">No match</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-api-calls-exceeded">API calls exceeded</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-api-calls-exceeded-reattempt">API calls exceeded reattempt</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-nhs-number-not-verified">NHS number not verified</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-record-invalidated">Record invalidated</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-deceased-user">Deceased user</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p5-generic">Generic back-end error</a></td>
                        </tr>
                        <tr>
                            <td><a href="../../p5/errors/error-p9-uplift-option">No match P9 uplift option</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>

    <div class="nhsuk-u-padding-bottom-9"></div>

    </div> <!-- /. grid-column-three-quarters -->

    <div class="nhsuk-grid-column-one-quarter">
        <h3 class="nhsuk-heading-m">
            Other errors
        </h3>
        <ul class="nhsuk-list">
            <li><a href="../errors/reg-front-end-errors">Reg &amp; setup errors</a></li>
            <li><a href="../errors/account-recovery-front-end-errors">Account recovery errors</a></li>
          </ul>
    </div>

</div> <!-- /.grid-row -->

{% endblock %}
