{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Choose which cookies we use
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="cookies">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back to: NHS login cookie settings</a>
  </div>

  
<h1>Choose which cookies we use</h1>



</div>
</div>

<article>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    


<section>
  
  <div class="block-markdown"><p>Let us know which cookies we can use. We'll use a cookie to save your settings.</p>
</div>
</section>


<div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
    
    
        <h2>Cookies that remember pop-ups</h2>
<p></p><p>These cookies remember pop-ups you've seen, so you do not see them again.</p>
<p></p>

<details class="nhsuk-details">
<summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
<span class="nhsuk-details__summary-text">
List of cookies that remember pop-ups
</span>
</summary>
<div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
<table>
<thead>
<tr>
<th>Name</th>
<th>Purpose</th>
<th>Expires</th>
</tr>
</thead>
<tbody>
<tr>
<td>Banner[Number]</td>
<td>Checks to see if a survey banner has been dismissed to stop it appearing again</td>
<td>99 days</td>
</tr>
</tbody>
</table>

</div>
</details>


<fieldset class="nhsuk-fieldset" id="cookie-preferences-form" aria-describedby="cookie-preferences">
<div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-preferences-1" name="input-preferences" type="radio" value="on">
        <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-1">
            Use cookies to remember pop-ups
        </label>
    </div>

    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-preferences-2" name="input-preferences" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-2">
            Do not use cookies to remember pop-ups
        </label>
    </div>
</div>
</fieldset>
    
        <h2>Cookies that measure website use (analytics cookies)</h2>
<p></p><p>These cookies store information about how you use our website, such as the links you click on. We use them to help make our website better.</p>
<p></p>

<details class="nhsuk-details">
<summary class="nhsuk-details__summary" role="button" aria-controls="details-content-1" aria-expanded="false">
<span class="nhsuk-details__summary-text">
List of cookies that measure website use
</span>
</summary>
<div class="nhsuk-details__text" id="details-content-1" aria-hidden="true">
<table>
<thead>
<tr>
<th>Name</th>
<th>Purpose</th>
<th>Expires</th>
</tr>
</thead>
<tbody>
<tr>
<td>_ga</td>
<td>Used by Google Analytics. Tells us how you use our health campaigns sites</td>
<td>2 years</td>
</tr>
<tr>
<td>_gat</td>
<td>Used by Google Analytics. Helps stop Google Analytics web servers crashing when collecting information on how you use our health campaigns sites</td>
<td>1 day</td>
</tr>
<tr>
<td>_gid</td>
<td>Used by Google Analytics. Sets a unique ID for your session to help tell us how you use our health campaigns sites</td>
<td>1 day</td>
</tr>
<tr>
<td>_hjid</td>
<td>Used by Hotjar. Sets a unique ID for your session to help tell us how you use our site</td>
<td>1 year</td>
</tr>
<tr>
<td>_hjIncludedInSample</td>
<td>Used by Hotjar. Says if you're included in the current sample for collecting information about how you use our site</td>
<td>1 day</td>
</tr>
<tr>
<td>AMCV_#</td>
<td>Used by Adobe Analytics. Tells us if you've used our site before</td>
<td>2 years</td>
</tr>
<tr>
<td>AMCVS_#AdobeOrg</td>
<td>Used by Adobe Analytics. Tells us how you use our site</td>
<td>When you close the browser</td>
</tr>
<tr>
<td>com.adobe.reactor.dataElementCookiesMigrated</td>
<td>Used by Adobe Analytics. Includes data elements set to capture usage of our website</td>
<td>No expiry</td>
</tr>
<tr>
<td>demdex</td>
<td>Used by Adobe Analytics. Allows cross-domain analytics of NHS properties</td>
<td>180 days</td>
</tr>
<tr>
<td>s_cc</td>
<td>Used by Adobe Analytics. Checks if cookies work in your web browser</td>
<td>When you close the browser</td>
</tr>
<tr>
<td>s_getNewRepeat</td>
<td>Used by Adobe Analytics. Tells us if you've used our website before</td>
<td>30 days</td>
</tr>
<tr>
<td>s_ppn</td>
<td>Used by Adobe Analytics. Tells us how you use our website by reading the previous page you visited</td>
<td>1 day</td>
</tr>
<tr>
<td>s_sq</td>
<td>Used by Adobe Analytics. Remembers the last link you clicked on</td>
<td>When you close the browser</td>
</tr>
</tbody>
</table>

</div>
</details>


<fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
<div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
            Use cookies to measure my website use
        </label>
    </div>

    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
            Do not use cookies to measure my website use
        </label>
    </div>
</div>
</fieldset>
    
        <h2>Cookies that help with health campaigns</h2>
<p></p><p>These cookies help us show you relevant adverts for our health campaigns on social media, such as Facebook or Twitter.</p>
<p></p>

<details class="nhsuk-details">
<summary class="nhsuk-details__summary" role="button" aria-controls="details-content-2" aria-expanded="false">
<span class="nhsuk-details__summary-text">
List of cookies that help with health campaigns
</span>
</summary>
<div class="nhsuk-details__text" id="details-content-2" aria-hidden="true">
<table>
<thead>
<tr>
<th>Name</th>
<th>Purpose</th>
<th>Expires</th>
</tr>
</thead>
<tbody>
<tr>
<td>_gcl_au</td>
<td>Set by Google Tag Manager. Helps us show you more relevant adverts for our health campaigns</td>
<td>3 months</td>
</tr>
</tbody>
</table>

</div>
</details>


<fieldset class="nhsuk-fieldset" id="cookie-marketing-form" aria-describedby="cookie-marketing">
<div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-marketing-1" name="input-marketing" type="radio" value="on">
        <label class="nhsuk-label nhsuk-radios__label" for="input-marketing-1">
            Use cookies to help with health campaigns
        </label>
    </div>

    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-marketing-2" name="input-marketing" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="input-marketing-2">
            Do not use cookies to help with health campaigns
        </label>
    </div>
</div>
</fieldset>
    
    <a href="/our-policies/cookies-policy/confirmation/" onclick="changeConsent();" type="submit" class="nhsuk-button">
        Save my cookie settings
    </a>
    </div>
    <script>
        // function to check the checkboxes based on status of cookie preferences
        window.addEventListener("load", function checkCookie() {
            document.getElementById("input-preferences-1").checked = NHSCookieConsent.getPreferences();
            document.getElementById("input-preferences-2").checked = !NHSCookieConsent.getPreferences();

            document.getElementById("input-statistics-1").checked = NHSCookieConsent.getStatistics();
            document.getElementById("input-statistics-2").checked = !NHSCookieConsent.getStatistics();

            document.getElementById("input-marketing-1").checked = NHSCookieConsent.getMarketing();
            document.getElementById("input-marketing-2").checked = !NHSCookieConsent.getMarketing();
        });

        // function to edit consent preferences based on check box input
        function changeConsent() {
        NHSCookieConsent.setPreferences(document.getElementById("input-preferences-1").checked);
        NHSCookieConsent.setStatistics(document.getElementById("input-statistics-1").checked);
        NHSCookieConsent.setMarketing(document.getElementById("input-marketing-1").checked);
        if(typeof NHSCookieConsent.setConsented === "function") {
            NHSCookieConsent.setConsented(true);
        }
        }
    </script>
</div>



  </div>

  

</article></main></div>
{% endblock %}
