{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Your privacy on NHS login
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Your privacy on NHS login</h1>

  </div>
</div>
  
<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>
          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <span class="nhsuk-contents-list__link"><b>Who we are</b></span>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#what-personal-info">What personal information we collect about you</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#why-personal-info">Why we collect your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#legal-basis">Our legal basis for using your information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-personal-info">How we process your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#sharing-connecting-parties">Sharing your information with Connecting Parties</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-protect-personal-info">How we protect your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-store-personal-info">How long we store your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#where-store-personal-info">Where your personal information is stored and processed</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#cookies">Cookies</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#your-rights">Your rights</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#complaints">Complaints</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#changes">Changes to our privacy notice</a>
            </li>
          </ol>
        </nav>
      </section>

  <section>
    
    <div id="who-we-are">
      <h2>Who we are</h2>
      <p>NHS Digital was set up by the Department of Health and Social Care in April 2013 and is an executive non-departmental public body that provides national information, data and IT systems for health and care services. We exist to help patients, clinicians, commissioners, analysts and researchers. Our goal is to improve health and social care in England by making better use of technology, data and information.</p>
      <p><a href="https://digital.nhs.uk/about-nhs-digital">Find out more about NHS Digital</a>.</p>
      <p>Mentions of "us" and "we" mean NHS Digital and "you" means anyone using NHS login.</p>
      <p>We have developed a platform for you to prove your I.D. and create your own NHS login account. With this, you can use “Connecting Parties” such as health related websites and apps, provided by the NHS or by third parties on behalf of the NHS. To create your NHS login, we need to take some personal information from you.
      <p>We are the data controller of the personal information you provide to us when:</p>
      <ul>
        <li>we verify (check) your identity</li>
        <li>you use NHS login to access Connecting Parties</li>
        <li>you contact us</li>
      </ul>
      <p>We do not have access to any of your medical records.</p>
      </p>
    </div>

    <div id="what-personal-info">
      <h2 class="nhsuk-heading-l">What personal information we collect about you</h2>
      <h3>Identity and contact information</h3>
      <p>We collect your basic personal details needed to process your NHS login application, including:</p>
      <ul>
        <li>first name</li>
        <li>middle names</li>
        <li>surname</li>
        <li>date of birth</li>
        <li>gender</li>
        <li>NHS number</li>
        <li>postcode</li>
        <li>address</li>
        <li>email address</li>
        <li>mobile phone number</li>
      </ul>
      <h3>Special category information (sensitive personal data)</h3>
      <p>We also collect special category information needed to verify your identity, including:</p>
      <ul>
        <li>a short video of you</li>
        <li>biometric data of your face that will include ethnicity</li>
        <li>information from your I.D. document</li>
      </ul>
      <h3>Technical information</h3>
      <p>We also collect technical information needed for security and to set up and manage your account to a Connected Service. This includes:</p>
      <ul>
        <li>linkage key information (GP Account I.D., GP ODS code, GP system Linkage key)</li>
        <li>audit data and event logs</li>
        <li>online identifiers, like your Internet Protocol (IP) addresses</li>
      </ul>
    </div>

    <div id="why-personal-info">
      <h2 class="nhsuk-heading-l">Why we collect your personal information</h2>
      <p>We collect personal information from you to:</p>
      <ul>
        <li>verify who you are</li>
        <li>provide you with an NHS login so that you can access Connecting Parties</li>
        <li>provide Connecting Parties with data you explicitly agree to us sharing</li>
      </ul>
      <p>Collecting this information also allows us to manage our service, so that we can:</p>
      <ul>
        <li>improve our manual and automated I.D. checking function by monitoring the rates of successful and unsuccessful I.D. verification submissions</li>
        <li>provide data in support of the NHS Digital protective monitoring plan to improve the security of the service</li>
        <li>improve the accuracy of the data held within our NHS systems</li>
      </ul>
      <p>We put analytic cookies on your device to collect information about how people use NHS login and help us make improvements to it.</p>
    </div>

    <div id="legal-basis">
      <h2>Our legal basis for using your information</h2>
      <p>We are directed by NHS England, under its powers conferred by the Health and Social Care Act 2012 and regulation 32 of the National Institute for Health and Care Excellence (Constitution and Functions) and the Health and Social Care Information Centre (Functions) Regulations 2013, to establish and operate the NHS login Services.</p>
      <p>As NHS Digital processes personal data under the legal direction from NHS England, then the organisations are joint data controllers for data protection purposes. The legal bases under the Data Protection Act 2018 / General Data Protection Regulation (GDPR) for the processing is explained here.</p>
    
      <h3>NHS Digital processing of personal data</h3>
      <p>GDPR Article 6(1)(a) - ‘consent of the individual’ (solely for the purposes of non-essential cookies, which comprise personal data, which are placed on the platform).</p>
      <p>GDPR Article 6(1)(c) – the ‘processing is necessary for compliance with a legal obligation to which the controller (NHS Digital) is subject’.</p>

      <h3>NHS Digital processing of special category data (sensitive personal data)</h3>
      <p>GDPR Article 9(2) (h) – ‘processing is necessary for the purposes of preventive or occupational medicine, for the assessment of the working capacity of the employee, medical diagnosis, the provision of health or social care or treatment or the management of health or social care systems and services’.</p>
      <p>Data Protection Act 2018, schedule 1, part 1, paragraph 2, sub paragraph (2), sub paragraph (f) – ‘the management of health care systems or services or social care systems or services’.</p>

      <h3>NHS England processing of personal data</h3>
      <p>GDPR Article (6)(1)(e) – ‘processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller’.</p>
      <p>We only collect, use and share your information when we have an appropriate legal basis to do so.</p>
    </div>

    <div id="how-personal-info">
      <h2>How we process your personal information</h2>
      <p>NHS login will verify your I.D. online using either the automated verification process or the manual verification process.</p>

      <h3>Automated verification process</h3>
      <p>We use approved I.D. verification suppliers to complete our automated online I.D. verification process. As part of the automated I.D. verification process, users will be asked to present photo I.D. documentation and conduct a live video using Biometric I.D. verification technology. The personal data from your photo I.D. document is processed using technology which can automatically read the data on the document. This is checked against the details held within our demographic database before we match you to your NHS number.</p>

      <h3>Manual verification process</h3>
      <p>Trained I.D. verification staff complete all manual online verification processes. They also review all of the unsuccessful fully automated online I.D. verification processes. As part of the manual I.D. verification user journey, users will be asked to provide personal data items, for example, NHS number, date of birth, first name, last name and postcode, as part of the process. They will also be asked to present photo I.D. documentation and upload a video selfie which records the user speaking the challenge code which has been sent to them. Trained I.D. checkers will check this against the details held within our demographic database before we match you to your NHS number.</p>
      <p>All submissions, successful or unsuccessful, and manual or automated, are subject to quality assurance and audit checks.</p>
    </div>

    <div id="sharing-connecting-parties">
      <h2>Sharing your information with your Connecting Parties</h2>
      <p>Connecting Parties will be onboarded to NHS login as part of an assured process. Once a Connected Service is onboarded, you will only be able to use NHS login when you are re-directed to NHS login from a Connected Service for the purpose of I.D. verification. The Connecting Parties will use NHS login as a method to authenticate you to their service.</p>
      <p>This means that Connecting Parties will receive from us and use the personal information NHS login hold about you to verify your identity as instructed by us. Connecting Parties are data processors when they are undertaking this and must follow our legal agreements to make sure your personal information is secure and used only for the reasons we specify. By being a data processor, the Connected Party is acting under instruction from NHS Digital who is the controller.</p>
      <p>Connecting Parties will always relate to the provision of NHS, or social care, services to you. They may be provided by an organisation directly commissioned to provide NHS, or social care, services or by a supplier on behalf of a commissioned organisation.</p>
      <p>We use approved I.D. verification suppliers to complete our automated online I.D. verification process. As part of the automated I.D. verification process, users will be asked to present photo I.D. documentation and conduct a live video using Biometric I.D. verification technology. The personal data from your photo I.D. document is processed using technology which can automatically read the data on the document. This is checked against the details held within our demographic database before we match you to your NHS number.</p>

      <h3>Manual verification process</h3>
      <p>Trained I.D. verification staff complete all manual online verification processes. They also review all of the unsuccessful fully automated online I.D. verification processes. As part of the manual I.D. verification user journey, users will be asked to provide personal data items, for example, NHS number, date of birth, first name, last name and postcode, as part of the process. They will also be asked to present photo I.D. documentation and upload a video selfie which records the user speaking the challenge code which has been sent to them. Trained I.D. checkers will check this against the details held within our demographic database before we match you to your NHS number.</p>
      <p>All submissions, successful or unsuccessful, and manual or automated, are subject to quality assurance and audit checks.</p>
    </div>

    <div id="how-protect-personal-info">
      <h2>How we protect your personal information</h2>
      <p>We take the security of your personal information very seriously. We have set up security measures, policies and procedures to make sure your personal information is protected.</p>
      <p>We protect your personal information by:</p>
      <ul>
        <li>training staff to understand data and security protection</li>
        <li>ensuring security and confidentiality policies are in place for our staff who have access to personal information</li>
        <li>monitoring our service</li>
        <li>using security features such as two-factor authentication</li>
        <li>introducing features such as ‘passwordless authentication’ and ‘remember my device’ to improve security and functionality</li>
        <li>following good practice guidance provided by the National Technical Authority</li>
        <li>using legally binding agreements with all organisations, including those we use to process your personal information</li>
      </ul>
    </div>

    <div id="how-store-personal-info">
      <h2>How long we store your personal information</h2>
      <p>We store your personal information for as long as is reasonably necessary and legally justifiable. The length of time we store your information for will depend on legal, regulatory or technical requirements. In any event, we follow the Records Management Code of Practice for Health and Social Care (2016). The retention periods are explained here.</p>

      <h3>User accounts</h3>
      <p>Stored until your account is closed by you or remains unused for 24 months in total. If your account is unused for 12 months, it will be disabled and stored for a further 12 months, in case you want to reopen it during that time.</p>
      <p>You can delete your account anytime. If you delete your account, you must verify your identity again if you ever want to use NHS login in the future.</p>
      <p>The personal information within your NHS login account is:</p>
      <ul>
        <li>mobile phone number</li>
        <li>NHS number</li>
        <li>date of birth</li>
        <li>first name</li>
        <li>middle names</li>
        <li>surname</li>
        <li>postcode</li>
        <li>reference to any evidence you have provided</li>
        <li>email address</li>
      </ul>

      <h3>I.D. verification evidence</h3>
      <p>Information processed as part of your I.D. verification will be stored for one year, starting from the date we verify the details on your account. This is true whether or not such verification is successful, and whether or not your account remains open. After this, your proof of identity information will be securely deleted.</p>
      <p>The information we store includes your:</p>
      <ul>
        <li>photo I.D. documentation, such as a passport or driving licence</li>
        <li>short video</li>
        <li>live video photo frame received from our I.D. verification suppliers/li>
      </ul>

      <h3>Log data</h3>
      <p>After an action is logged, we will store this general log data for one year. For example, an IP address that shows activity like webpage access, account login requests and login attempts.</p>

      <h3>Audit events</h3>
      <p>We store audit event information for 8 years from the event taking place.</p>
      <p>Audit event information lets us record:</p>
      <ul>
        <li>who verifies the identity evidence you provide</li>
        <li>when the I.D. verification took place</li>
        <li>the result of the I.D. verification</li>
        <li>when identity evidence is to be deleted</li>
        <li>details of the person verified</li>
        <li>deletion requests and who made them</li>
      </ul>
    
    </div>

    <div id="where-store-personal-info">
      <h2>Where your personal information is stored and processed</h2>
      <p>We store and process your information in the United Kingdom. We will update this notice if we transfer your information outside of the UK. If this happens, we will make sure your information is given the level of protection required by law and NHS policies.</p>    
    </div>

    <div id="cookies">
      <h2>Cookies</h2>
      <p>We put small files called cookies onto your device, like your mobile phone or computer.</p>
      <p>We put:</p>
      <ul>
        <li>strictly necessary cookies on your device for NHS login to work</li>
        <li>analytic cookies on your device to collect information about how people use NHS login and help us make improvements to it</li>
      </ul>
      <p><a href="cookies">Read more about cookies</a></p>
    </div>

    <div id="your-rights">
      <h2>Your rights</h2>
      <p>Data protection laws provide you with a number of rights which you can exercise by contacting the appropriate Data Controller. NHS login does not hold any medical information but does hold the personal information described earlier to establish your identification.</p>
      <p>These general rights allow you to:</p>
      <ul>
        <li>request a copy of your personal information by completing a <a href="https://digital.nhs.uk/binaries/content/assets/website-assets/corporate-information/subject-access-requests/subject-access-request-application-form-july-18.docx">subject access request form</a></li>
        <li>change your information if it is wrong or incomplete</li>
        <li>request a restriction on the use of your personal information – if it is wrong and would like it to be changed before being used again</li>
      </ul>
    </div>

    <div id="complaints">
      <h2>Complaints</h2>
      <p>You have the right to complain about how we process your personal information. You can do this by emailing <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a> or you can go through the Information Complaints Office (ICO). The ICO is the regulator for data protection.</p>
      <p>These general rights allow you to:</p>
      <ul>
        <li>request a copy of your personal information by completing a <a href="https://digital.nhs.uk/binaries/content/assets/website-assets/corporate-information/subject-access-requests/subject-access-request-application-form-july-18.docx">subject access request form</a></li>
        <li>change your information if it is wrong or incomplete</li>
        <li>request your personal information is deleted – if you believe it is no longer needed, though we may not be able to delete your information if there is a legal reason for us to not delete it</li>
        <li>request a restriction on the use of your personal information – if it is wrong and would like it to be changed before being used again</li>
      </ul>
    </div>

    <div id="changes">
      <h2>Changes to our privacy notice</h2>
      <p>Our privacy notice may change. The latest version of our privacy notice will be accessible through NHS login. We will inform you through NHS login if we make any material changes to our privacy notice, cookies policy or terms and conditions. This will allow you to refresh your consent if you wish to continue using NHS login.</p>
    </div>
        
  </section>

  <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">
      Page last reviewed: 10 Jan 2019<br>
      Next review due: 10 Jan 2022
    </p>
  </div>




    </div>

    


  <aside class="nhsuk-grid-column-one-third">
    <div class="nhsuk-related-nav border-top__blue">
      <nav class="nhsuk-related-nav__nav-section" aria-labelledby="parent-title">
        <h2 class="nhsuk-heading-m" id="parent-title">Our policies</h2>
        <ul class="nhsuk-related-nav__list">
          
          <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="terms"><p class="link-column">Terms and conditions</p></a></li>

          <li class="nhsuk-related-nav__item app-side-nav__item--current"><p class="link-column">Your privacy on NHS login</p class="link-column"></li>

          <li class="nhsuk-related-nav__item"><a href="cookies"><p class="link-column">Cookies on NHS login</p></a></li>
            
        </ul>
      </nav>
    </div>
  </aside>




  </div>
</article>
  
</div>

{% endblock %}
