{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      {{ backLink({
        "href": "welcome-nhs-login",
        "text": "Back to: Welcome to NHS login"
      }) }}

    <form action="login-enter-password" autocomplete="on">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Enter your email address
          </h1>
        </legend>
        <p class="nhsuk-body">We will check if you have an NHS login. If not, you can set one up. </p>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="emailAddress">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress"
            value="{{ data['emailAddress'] }}" type="email">
        </div>
        <a>
          <button data-redirect="login-enter-password" class="nhsuk-button full-width"
            id="button--save">Continue</button>
        </a>
      </fieldset>
    </form>

    {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      window.location.href = target.dataset.redirect;
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}