{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Welcome to NHS login
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Welcome to NHS login
          </h1>
        </legend>
        <p class="nhsuk-body">
          NHS login allows you to securely access health websites and apps with just one username and password.
        </p>
        <a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/" class="nhsuk-link"><p>Find out more about NHS login</p></a>

        <a href="enter-email" class="nshuk-button">
            <button class="nhsuk-button full-width">Continue</button>
        </a>

        
      <div class="nhsuk-warning-callout  nhsuk-u-margin-top-3">
        <h3 class="nhsuk-warning-callout__label">Coronavirus (COVID-19)</h3>
        <p>For health information and advice, read <a href="#" class="nhsuk-link">NHS guidance about Coronavirus</a></p>
      </div>

    </fieldset>
  </div>
</div>

{% endblock %}