{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your mobile phone
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
        "href": "your-mobile-phone-number",
        "text": "Back to: Your mobile phone number"
      }) }}

    <h1 class="nhsuk-fieldset__legend--l">
      Check your mobile phone
    </h1>


    <p class="nhsuk-body-m">Enter the 6 digit security code we've sent to <b>********777</b></p>


    <p>
      <a href="register-enter-OTP-new-code" class="nhsuk-link">Request a new security code</a>
    </p>

    <form>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Security code
        </label>
        <span class="nhsuk-hint" id="otp-hint-text">
          The code is 6 numbers
        </span>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); "
          type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text" name="otp"
          type="number" aria-describedby="security-code-input">
      </div>

      <a class="nhsuk-button full-width" href="error-register-enter-OTP">Continue</a>

    </form>

    
    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <!--<li><a href="../errors/error-register-OTP-be-generic">Generic back-end error (OTP expired)</a></li>-->
          <li><a href="error-register-enter-OTP-no-input">No input</a></li>
          <li><a href="error-register-enter-OTP-format">Incorrect format</a></li>
          <li><a href="error-register-enter-OTP">Incorrect OTP</a></li>
          <li><a href="cannot-use-mobile-existing">OTP attempts exceeded</a></li>
          <li><a href="error-register-enter-OTP-code-expired">Code expired</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>

{% endblock %}