{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    
    <h1 class="nhsuk-fieldset__legend--l">
      Enter your security code
    </h1>

    <p class="nhsuk-body-m">Enter the 6 digit <a href="../../emails/email-security-code" style="color: #212b32; text-decoration: none;">security code</a> we have sent to your NHS login email address.</p>
    
    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Not received your security code?
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p class=" nhsuk-body">
          If you did not receive a security code, <a href="register-check-email-OTP-reattempt">you can send a new security code to your email address</a> or <a href="login-enter-OTP">send by text message instead</a>.
        </p>
      </div>
    </details>

    <form>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Security code
        </label>
        <span class="nhsuk-hint">The code is 6 numbers</span>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text" name="otp"
          type="number" aria-describedby="security-code-input">
      </div>

      <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-4">

        <div class="nhsuk-checkboxes__item">
          <input style="padding-right: 16px;" class="nhsuk-checkboxes__input" id="rmd" name="rmd" type="checkbox">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="rmd">
            Remember this device and stop sending security codes
          </label>
        </div>
      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What does remember this device mean?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>We can remember the device you are using now, so you won’t need to enter a security code when you log in
            with this device in the future.</p>
          <p>To keep your NHS login secure, you should only do this on your own personal or trusted devices.</p>
          <p>We may ask if you still want us to remember this device in the future.</p>
        </div>
      </details>

      <a class="nhsuk-button full-width" href="auth">Continue</a>

    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Emails</p>
        <ul>
          <li><a href="../../emails/email-security-code">Security code email</a></li>
        </ul>
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-register-OTP-be-generic">Generic back-end error (OTP expired)</a></li>
          <li><a href="../errors/error-register-OTP-no-input">No input</a></li>
          <li><a href="../errors/error-register-OTP-regex">Incorrect format</a></li>
          <li><a href="../errors/error-register-OTP-incorrect">Incorrect OTP</a></li>
          <li><a href="../errors/error-login-OTP-attempts-exceeded">OTP attempts exceeded</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>

{% endblock %}