{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Make sure your email address is secure
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">
      Make sure your email address is secure
    </h1>

    <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Your security</h3>
        <p>We will send your security code to <b>mail@mail.com</b></p>
        <p>If anyone else accesses this address, your information may be at risk.</p>
      </div>

    <a class="nhsuk-button full-width" href="register-enter-email-otp">
      Continue
    </a>

    <p class="nhsuk-body">
      <a href="register-enter-phone">Use SMS to send you the security code instead</a>
    </p>

  </div>
</div>

{% endblock %}