{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel">

        <h1 class="nhsuk-fieldset__legend--l">Your phone is now connected to your NHS login</h1>

        <p>Every time you login now we will send you a code to keep your NHS login safe.</p>

        <a href="#" class="nhsuk-button">Continue</a>

      </div>

        

    </div>
  </div>

{% endblock %}