{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      {{ backLink({
        "href": "enter-password",
        "text": "Back to: Enter your password"
      }) }}

      <h1 class="nhsuk-heading-l">
        Check your email
      </h1>

      {% if data['user-email'] %}
      <p>We've sent an <a style="color: #212b32; text-decoration: none;" href="/emails/email-password-reset" target="_blank">email</a> to {{ data['user-email'] }} with a link to reset your password.</p>
      {% else %}
      <p>We've sent an <a style="color: #212b32; text-decoration: none;" href="/emails/email-password-reset" target="_blank">email</a> to mail@mail.com with a link to reset your password.</p>
      {% endif %}

      <p>After you have reset your password come back here and continue.</p>
      <p>If you do not get an email, check your spam folder or try again.</p>

      <a class="nhsuk-button full-width" href="login-enter-password">
          Enter login details
      </a> 

    </div>
  </div>

{% endblock %}
