{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


      <h1 class="nhsuk-heading-l">
        Reset your password
      </h1>

      <p>We'll send you an email so that you can reset your password.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="user-email">
          Email address
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="user-email" name="user-email" type="text">
      </div>

      <a class="nhsuk-button full-width" href="enter-phone">
          Continue
      </a> 

    </div>
  </div>

{% endblock %}
