{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Choose which cookies we use
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="cookies">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to: NHS login cookie settings</a>
    </div>

    </div>
</div>

<article>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <section>
      <h1>Your cookie choices</h1>
    
    <div class="block-markdown"><p>Cookies store information about how you use our website. We use these additional, optional cookies, to gather usage data and feedback to improve our website.</p>
    </div>
    </section>


    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">

        <h2>Adobe cookies</h2>
        <p>These cookies store information about how you use our website, such as the links you click on.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="nhsuk-details__summary-text">
              List of Adobe Analytics cookies
              </span>
            </summary>
            <div class="nhsuk-details__text" aria-hidden="true">
              <div class="block-table">
          
                <div class="nhsuk-table-responsive">
                  <h3>Adobe Analytics cookies</h3>
                  <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>s_cc</b></td>
                        <td>
                          <p>This is set when you log in to NHS login.</p>
                          <p>It lets us know that you have logged in and tells us who you are so we can keep your information secure.</p></td>
                        <td>When you close your browser</td>
                      </tr>
                      <tr>
                        <td><b>s_sq</b></td>
                        <td>
                          <p>This is set when you use NHS login for the first time.</p>
                          <p>It stores information passed to us from the health websites and apps you are using with NHS login. We use it to make sure only they can see your information.</p>
                          <p>It will only be set if the health websites and apps are approved by us.</p>
                        </td>
                        <td>When you close your browser</td>
                      </tr>
                      <tr>
                        <td><b>s_vi</b></td>
                        <td>
                          <p>This lets us know your unique visitor I.D. time/date stamp that tells us the time and date you first visit NHS login.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                      <tr>
                        <td><b>s_fid</b></td>
                        <td>
                          <p>This lets us know your unique visitor I.D. time/date stamp. It is only used if the s_vi cookie is blocked by your browser.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                      <tr>
                        <td><b>AMCV_###@AdobeOrg</b></td>
                        <td>
                          <p>This lets us know your unique visitor I.D. when you use NHS login.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                      <tr>
                        <td><b>s_ppv and s_ppvl</b></td>
                        <td>
                          <p>This stores information which lets us know how far you scroll down the page.</p>
                        </td>
                        <td>When you leave NHS login</td>
                      </tr>
                      <tr>
                        <td><b>s_nr</b></td>
                        <td>
                          <p>This stores information which lets us know the dates you visit NHS login and if you have used it before.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                      <tr>
                        <td><b>gpv</b></td>
                        <td>
                          <p>This stores information which lets us know how many of our pages you visited.</p>
                        </td>
                        <td>The end of session</td>
                      </tr>
                      <tr>
                        <td><b>AMCVS</b></td>
                        <td>
                          <p>This is set when you first log in. It lets us know your unique visitor I.D. each time you use NHS login.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                      <tr>
                        <td><b>Demdex</b></td>
                        <td>
                          <p>This uses a tool called Audience Manager which allows us to know your unique visitor I.D. each time you use NHS login and other NHS online services.</p>
                        </td>
                        <td>2 years</td>
                      </tr>
                    </tbody>
                  </table>
                  <h3>Hotjar cookies</h3>
                  <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>_hjShownFeedbackMessage</b></td>
                        <td>
                          <p>This is set when you complete feedback or minimise the feedback option.</p>
                          <p>It keeps the feedback option minimised, so you do not see it open when you go to another page.</p>
                        <td>1 year</td>
                      </tr>
                      <tr>
                        <td><b>_hjIncludedInSample</b></td>
                        <td>
                          <p>This is set to tell Hotjar if you are included in a sample of user journeys used to generate heatmaps and funnels (ways to display data), and recordings.</p>
                        </td>
                        <td>1 year</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
    
              </div>
            </div>
          </details>

          <!--


    <fieldset class="nhsuk-fieldset" id="cookie-preferences-form" aria-describedby="cookie-preferences">
    <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-preferences-1" name="input-preferences" type="radio" value="on">
        <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-1">
            Use cookies to measure service use
        </label>
    </div>

    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-preferences-2" name="input-preferences" type="radio" checked value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-2">
            Do not use cookies to measure service use
        </label>
    </div>
    </div>
    </fieldset>

    -->

        <h2>Hotjar cookies</h2>
        <p>These cookies are used to obtain user feedback.</p>

    <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-1" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    List of Hotjar cookies
    </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-1" aria-hidden="true">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>_hjShownFeedbackMessage</b></td>
                <td>
                  <p>This is set when you complete feedback or minimise the feedback option.</p>
                  <p>It keeps the feedback option minimised, so you do not see it open when you go to another page.</p>
                <td>1 year</td>
              </tr>
              <tr>
                <td><b>_hjIncludedInSample</b></td>
                <td>
                  <p>This is set to tell Hotjar if you are included in a sample of user journeys used to generate heatmaps and funnels (ways to display data), and recordings.</p>
                </td>
                <td>1 year</td>
              </tr>
            </tbody>
        </table>

    </div>
    </details>

    <h2>Change your cookies</h2>
    <p>Let us know whether we can use cookies. We will save your choice.</p>


    <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
    <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
            Use these cookies
        </label>
    </div>

    <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" checked value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
            Do not use these cookies
        </label>
    </div>
    </div>
    </fieldset>

    </div>

    <a href="manage-cookies-confirmed" onclick="changeConsent();" type="submit" class="nhsuk-button">
        Save my cookie settings
    </a>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Error</p>
        <ul>
          <li><a href="register-check-email-nudge">Input error</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

    </div>

  </div>

</div>


<script>
    // function to check the checkboxes based on status of cookie preferences
    window.addEventListener("load", function checkCookie() {
        document.getElementById("input-preferences-1").checked = NHSCookieConsent.getPreferences();
        document.getElementById("input-preferences-2").checked = !NHSCookieConsent.getPreferences();

        document.getElementById("input-statistics-1").checked = NHSCookieConsent.getStatistics();
        document.getElementById("input-statistics-2").checked = !NHSCookieConsent.getStatistics();

        document.getElementById("input-marketing-1").checked = NHSCookieConsent.getMarketing();
        document.getElementById("input-marketing-2").checked = !NHSCookieConsent.getMarketing();
    });

    // function to edit consent preferences based on check box input
    function changeConsent() {
    NHSCookieConsent.setPreferences(document.getElementById("input-preferences-1").checked);
    NHSCookieConsent.setStatistics(document.getElementById("input-statistics-1").checked);
    NHSCookieConsent.setMarketing(document.getElementById("input-marketing-1").checked);
    if(typeof NHSCookieConsent.setConsented === "function") {
        NHSCookieConsent.setConsented(true);
    }
    }
</script>

  

</article></main></div>
{% endblock %}
