{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  Error accessing page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">

      <h1 class="nhsuk-heading-l">
        We do not know which website or app you are trying to access
      </h1>

      <p class="nhsuk-body">This can happen if you try to log in directly from a web search engine, bookmark or your browser history.</p>

      <p>Go to the website or app you want to access and select <strong>Continue with NHS login</strong>.</p>

      <p>Make sure you go to the main website or app of the service you want to access. Avoid using bookmarks or links from your browser history.</p>

      <p>Reference: <b>CID1004</b></p>

    </div>
  </div>

{% endblock %}
