{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-fieldset__legend--l">
      Enter your mobile number
    </h1>

    <p class="nhsuk-body">Enter your UK mobile phone number or an international phone number so we can send you a 6 digit security code.</p>

    <form method="post" action="register-enter-OTP">

      <div class="nhsuk-form-group">

        <label class="nhsuk-label" for="input-with-hint-text">
          Mobile number
        </label>

        <input class="nhsuk-input nhsuk-input--width-20" id="phoneNumber" value="{{ data['phoneNumber'] }}" name="phoneNumber" type="number" aria-describedby="enter-your-mobile-number">
        
      </div>

      <!-- Conditional reveal radio button -->

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">

          <div class="nhsuk-radios nhsuk-radios--conditional">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                I have an international mobile number
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
      
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="phone">
                  International number
                </label>
                <span class="nhsuk-hint nhsuk-radios__conditional__hint" id="example-hints-1-item-hint">
                  Include the country code of your international mobile phone number.
                </span>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="phone" name="phone" type="text">
              </div>
      
            </div>
      
          </div>
        </fieldset>
      
      </div>

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
      </form>

    </div>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-register-phone-no-input">No input</a></li>
          <li><a href="../errors/error-register-phone-regex">Invalid format</a></li>
          <li><a href="../errors/error-register-phone-otp-exceeded">User requests OTP >5 times</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>

{% endblock %}