{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Prove who you are
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../p5-p9-uplift/user-profile">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to: Confirm your details</a>
    </div>

    <form action="#" method="POST">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="confirm-details">
            Prove who you are
          </label>
        </h1>
        
        <p>
          We can use your details from your GP surgery’s online services to prove who you are.
        </p>
        <p>
          You must prove who you are to get full access to <b>‘CLIENT NAME’</b>.
        </p>

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="who-you-are-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                Can we use your details?
              </h2>
            </legend>
        
            <div class="nhsuk-radios nhsuk-radios--conditional">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="yes" name="who-you-are-radio" type="radio" value="yes" aria-controls="conditional-who-you-are-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="who-you-are-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="no" name="who-you-are-radio" type="radio" value="no" aria-controls="conditional-who-you-are-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="who-you-are-2">
                  No
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-who-you-are-2">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="no">
                    You will not have full access to <b>‘CLIENT NAME’</b> until you prove who you are.
                  </label>
                </div>
        
              </div>
        
            </div>
          </fieldset>
        
        </div>
        

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
        
    </form>

    
    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <a href="error-prove-who-you-are">No user input</a>
        </ul>
      </div>
    </details>
    {% endif %}
    

  </div>
</div>

{% endblock %}