{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Reset your password
      </h1>

      <p>You have 1 hour to reset your password. After that, you'll have to try again.</p>
      <p>If you do not want to reset your password, ignore this email.</p>
      <p><a href="/set-up/v4/reset-enter-password" class="nhsuk-button">Reset your password</a></p>
      <p>If nothing happens when you click the button, try this link instead. You might need to copy and paste it into an internet browser:</p>
      <p><a href="/set-up/v4/reset-enter-password">https://nhs-login.herokuapp.com/set-up/v4/create-password-email</a></p>

      {% if data['devMode'] %}
      <details class="nhsuk-details dev-mode" role="group">
        <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="nhsuk-details__summary-text">
            Continue with testing scenario
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Errors</p>
          <ul>
            <li><a href="../set-up/errors/error-link-already-used">Link expired</a></li>
            <li><a href="../set-up/errors/error-link-malformed">Link malformed</a></li>
            <li><a href="../set-up/errors/error-link-already-used">Link already used</a></li>
          </ul>   
        </div>
      </details>

      {% endif %}

    </div>
  </div>

{% endblock %}  
