{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Your security code
      </h1>

      <p>Use this security code to confirm your email address.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="otp-container">
            <h1 class="nhsuk-fieldset__legend--l" id="otp-code">793249</h1>
        </div>
  
    </div>

      <div class="nhsuk-grid-column-full">

      <p>You need to use this security code within <b>24 hours</b> to continue setting up your NHS login.</p>

      {% if data['devMode'] %}
       {% include "includes/devmode-email-confirmation-code.html" %}
      {% endif %}

    </div>
  </div>

{% endblock %}  
