{% extends 'layouts/layout-transactional-campaign__email.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">You now have an NHS login</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Use your NHS login to access digital health and care services.</p>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half image">
          <figure class="nhsuk-image login-email">
            <img class="nhsuk-image__img" src="/images/login-email-2x.png"  alt-text="Picture of NHS login on desktop and mobile">
          </figure>
        </div>

      </div>
    </div>

  </section>
{% endblock %}

      <!-- Add your content here -->

{% block content %}
  <div class="nhsuk-grid-row bodyContent" style="padding-top: 20px;">
    <div class="nhsuk-grid-column-one-third">

      <h1 class="nhsuk-heading-m">
        What does NHS login do?
      </h1>

      <p>NHS login gives you access to different health and care websites and applications with just one username and password. This means you only need to prove who you are once and not every time you visit a different website or application.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        What are the benefits of using NHS login?
      </h2>

      <p>NHS login is secure and can be used repeatedly to access lots of different health and social care services. The one-time sign-up process is quick, easy and completely free for all users.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        How secure is NHS login?
      </h2>
      <p>NHS login follows the UK government's data storage standards to keep your information secure. Any website or app that allows you to use your NHS login must meet NHS Digital's standard on proving identity.</p>

    </div>

  </div>

  <div class="nhsuk-grid-row bodyContent" style="padding-top: 20px;">
    <div class="nhsuk-grid-column-full">
      <h2>What services can I access with NHS login?</h2>
    </div>
  </div>
 
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      <h1 class="nhsuk-heading-m">
        NHS App
      </h1>

      <p>You can book GP appointments, manage your prescriptions and access a range of other healthcare services.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        eRedbook
      </h2>

      <p>Keep track of your child's health, see upcoming appointments and read interesting articles about their development.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        Patient Access
      </h2>
      <p>You can connect to your GP surgery, book pharmacy services and access medical content.</p>

    </div>

  </div>


  <div class="nhsuk-grid-row bodyContent" style="padding-top:40px;">

    <div class="nhsuk-grid-column-one-half">
      <p>You can use your NHS login wherever you see the NHS login button. If a website or app shows this button, simply click it and enter your NHS login information for access.</p>
    </div>

    <div class="nhsuk-grid-column-one-half login-button">
      <figure class="nhsuk-image button-1">
        <img class="nhsuk-image__img" src="/images/ContinueWithLogin.svg"  alt-text="Picture of NHS login on desktop and mobile"></img>
      </figure>
    </div>


  </div>

  <div class="nhsuk-grid-row bodyContent" style="padding-top:40px;">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-m">More information</h2>
      <p>Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login information page</a> for more information.</p>
    </div>

  </div>



{% endblock %}

{% block footer %}
  <section class="nhsuk-hero survey">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row surveyBorder">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group surveyText">
              <h3 class="nhsuk-heading-m subtext">How did you find the information in this email? </h3>
            </div>
        </div>

        <div class ="nhsuk-grid-column-one-half survey-response">
          <div class="nhsuk-grid-column-full survey-column">
            <p class="nhsuk-body-l feedbackLink" style="display: inline;"><a class=""><strong>Useful</strong></a></p>
            <p class="nhsuk-body-l feedbackLink" style="display: inline;"><a class=""><strong>Not useful</strong></a></p>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
