{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Your security code
      </h1>

      <p>Use this security code to confirm your email address.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="otp-container">
            <h1 class="nhsuk-fieldset__legend--l" id="otp-code">793249</h1>
        </div>
  
    </div>

      <div class="nhsuk-grid-column-full">

      <p>You need to use this security code within <b>1 hour</b> to continue setting up your NHS login.</p>

      {% if data['devMode'] %}
      <details class="nhsuk-details dev-mode" role="group">
        <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="nhsuk-details__summary-text">
            Continue with testing scenario
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Routes</p>
          <ul>
            <li><a href="../set-up/no-mobile-phone-journey/register-enter-email-otp">Enter security code</a></li>
          </ul>   
        </div>
      </details>

      {% endif %}

    </div>
  </div>

{% endblock %}  
