      <!-- Add your content here -->

{% block content %}
<section>
  <h1>You now have an NHS login</h1>
  <p>Use your NHS login to access digital health and care services.</p>
  <h2>
    What does NHS login do?
  </h2>
  <p>NHS login gives you access to different health and care websites and applications with just one username and password. This means you only need to prove who you are once and not every time you visit a different website or application.</p>
  <h2>
    What are the benefits of using NHS login?
  </h2>
  <p>NHS login is secure and can be used repeatedly to access lots of different health and social care services. The one-time sign-up process is quick, easy and completely free for all users.</p>
  <h2>
    How secure is NHS login?
  </h2>
  <p>NHS login follows the UK government's data storage standards to keep your information secure. Any website or app that allows you to use your NHS login must meet NHS Digital's standard on proving identity.</p>
  <h2>What services can I access with NHS login?</h2>
  <ul>
    <li>
      <h3>
        NHS App
      </h3>
      <p>You can book GP appointments, manage your prescriptions and access a range of other healthcare services.</p>
    </li>
    <li>
      <h3>
        NHS App
      </h3>
      <p>You can book GP appointments, manage your prescriptions and access a range of other healthcare services.</p>  
    </li>
    <li>
      <h3>
        eRedbook
      </h3>
      <p>Keep track of your child's health, see upcoming appointments and read interesting articles about their development.</p>  
    </li>
    <li>
      <h3>
        Patient Access
      </h3>
      <p>You can connect to your GP surgery, book pharmacy services and access medical content.</p>  
    </li>
  </ul>
  <p>You can use your NHS login wherever you see the NHS login button. If a website or app shows this button, simply click it and enter your NHS login information for access.</p>
  <h2>
    More information
  </h2>
  <p>Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login information page</a> for more information.</p>
  <h3 class="nhsuk-heading-m subtext">What do you think of the information in this email?</h3>
  <p class="nhsuk-body-l feedbackLink" style="display: inline;"><a href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_b9IfvPsvXZ3m6Ud" class=""><strong>Share your thoughts</strong></a></p>
</section>  
{% endblock %}