{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Reset your password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Reset your password
      </h1>

      <p>You need to reset your password to use your NHS login.</p>
      <p>You need to reset it within 1 hour.</p>
      <p><a href="/set-up/v7/reset-enter-password" class="nhsuk-button">Reset your password</a></p>
      <p>If the link does not work, copy and paste this into your browser:</p>
      <p><a href="/set-up/v7/reset-enter-password">https://nhs-login.herokuapp.com/set-up/v7/reset-enter-password</a></p>

      <!-- 

      {% if data['devMode'] %}
      <details class="nhsuk-details dev-mode" role="group">
        <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="nhsuk-details__summary-text">
            Continue with testing scenario
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Errors</p>
          <ul>
            <li><a href="../set-up/errors/error-reset-link-expired">Link expired</a></li>
            <li><a href="../set-up/errors/error-reset-link-malformed">Link malformed</a></li>
            <li><a href="../set-up/errors/error-reset-link-used">Link already used</a></li>
          </ul>   
        </div>
      </details>

      {% endif %}

      -->

    </div>
  </div>

{% endblock %}  
