{% extends 'layouts/layout-transactional-campaign__email.html' %}

{% block pageTitle %}
  Do more with NHS login
{% endblock %}

{% block beforeContent %}
  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">Do more with your NHS login</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Use NHS login to access lots of different digital health and care services.</p>
          </div>
        </div>

      </div>
    </div>

  </section>
{% endblock %}

      <!-- Add your content here -->

{% block content %}

  <div class="nhsuk-width-container" >
    <p>You set up your NHS login when you joined <strong>Covid 19 Digital testing service</strong>.</p>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--visible">

<div class="nhsuk-width-container" style="background-color:#f0f4f5;">
  <div class="nhsuk-grid-row bodyContent" style="padding-top: 20px;">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-m">
        Where you can use your NHS login
      </h1>

      <p>Did you know you can use your NHS login to access lots of other health and care websites and apps too?</p>

      <p>See the <a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/websites-and-apps-that-allow-nhs-login/">full list of websites and apps that have NHS login.</a></p>

      <h1 class="nhsuk-heading-m">
        What you can do with your NHS login
      </h1>

      <p>At the moment you have an NHS login with a verified email address and phone number. With this, you can do simple tasks like read general medical information or book a COVID-19 test.</p>
      
      <p>To access all areas of other services, you may need to be matched to your NHS record. When you do this you will be able to do more things, like contact your GP.</p>
      
      <p>If you want to access your health records or personal information on any of the services you visit, you will need to prove who you are.</p>
      
      <p>If you visit a service and you are asked to do any of this, we will tell you how step by step.</p>

      <h1 class="nhsuk-heading-m">
        NHS App
      </h1>

      <p>You can use your NHS login to access the NHS App. If we can match you to your NHS record, you can get your <strong>COVID-19 pass</strong>. Access the NHS App and we will tell you how to do this.</p>

      <button data-redirect="https://www.nhs.uk/nhs-app/" class="nhsuk-button full-width"
          id="button--save">Go to the NHS App</button>

      
      
    <div class="nhsuk-u-padding-bottom-4"></div>

    <hr class="nhsuk-section-break nhsuk-section-break--visible">

    </div>
    
    <div class="nhsuk-grid-column-full" style="background-color:#f0f4f5;">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-u-padding-bottom-4"></div>

          <h1 class="nhsuk-heading-m">
            Update your NHS login settings
          </h1>

          <p>Update your email address, phone number, or password in your <a href="https://settings.login.nhs.uk/">NHS login settings</a>.</p>

        </div>

        <div class="nhsuk-u-padding-bottom-4"></div>

        <div class="nhsuk-grid-column-one-half">

          <h2 class="nhsuk-heading-m">
            Help centre
          </h2>

          <p>Having problems setting up your NHS login? Find guidance and support on our <a href="https://help.login.nhs.uk/">Help centre</a>.</p>

        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible">

      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block footer %}

  <div class="nhsuk-u-padding-bottom-4"></div>

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-column-full">
      <p><br>
      Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS.UK login page</a> for more information.</p>
    <div class="nhsuk-header__logo">
    <a href="https://www.nhs.uk">
          <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation"
            focusable="false" viewBox="0 0 40 16">
            <path fill="#005eb8" d="M0 0h40v16H0z"></path>
            <path fill="#fff"
              d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
            </path>
            <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
          </svg>
        </a>
        </div>
      </div>
  </div>
{% endblock %}
