{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">Your NHS login</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Use your NHS login to access digital health and care services whenever you want, without having to prove who you are each time.</p>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half image">
          <figure class="nhsuk-image login-email">
            <img class="nhsuk-image__img" src="/images/login-email-2x.png"  alt-text="Picture of NHS login on desktop and mobile">
          </figure>
        </div>

      </div>
    </div>

  </section>
{% endblock %}

      <!-- Add your content here -->

{% block content %}
  <div class="nhsuk-grid-row bodyContent" style="padding-top: 20px;">
    <div class="nhsuk-grid-column-one-third">

      <h1 class="nhsuk-heading-m">
        What can I use my NHS login for
      </h1>

      <p>NHS login lets you access multiple digital health and social care services with a simple, one-time sign-up process.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        The benefits of NHS login
      </h2>

      <p>NHS login is secure and can be used repeatedly without you having to prove who you are each time.</p>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">
        How to manage your information
      </h2>

      <p>You can change your password, email address or phone number in your account management section once you've logged in.</p>

    </div>

  </div>

  <div class="nhsuk-grid-row bodyContent" style="padding-top:40px;">

    <div class="nhsuk-grid-column-one-half">
      <h2 class="nhsuk-heading-m">The NHS login button</h2>
      <p>You can use your NHS login wherever you see the NHS login button. If a website or app shows this button, simply click it and enter your NHS login information for access.</p>
    </div>

    <div class="nhsuk-grid-column-one-half login-button">
      <figure class="nhsuk-image button-1">
        <img class="nhsuk-image__img" src="/images/ContinueWithLogin.svg"  alt-text="Picture of NHS login on desktop and mobile"></img>
      </figure>
    </div>


  </div>

  <div class="nhsuk-grid-row bodyContent" style="padding-top:40px;">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-m">More information</h2>
      <p>Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login information page</a> for more information.</p>
    </div>

  </div>

{% endblock %}
