{% extends 'layouts/layout-transactional-campaign__email.html' %}

{% block pageTitle %}
  Do more with NHS login
{% endblock %}

{% block beforeContent %}
  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">Do more with your NHS login</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Use your NHS login to access lots of different digital health and care services including the NHS App.</p>
          </div>
        </div>

      </div>
    </div>

  </section>
{% endblock %}

      <!-- Add your content here -->

{% block content %}

  <div class="nhsuk-width-container" >
    <p>You set up your NHS login on <strong>6 September 2021</strong>.</p>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--visible">

<div class="nhsuk-width-container" style="background-color:#f0f4f5;">
  <div class="nhsuk-grid-row bodyContent" style="padding-top: 20px;">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>We have sent you this email because you have set up your NHS login. You may have done this when you ordered a lateral flow test or booked a PCR test on the <strong>Covid-19 Digital testing service</strong>.</p>
      </div>

      <p>Right now, your NHS login has a verified email address, password, and phone number. This allows you to do basic tasks, like read your general medical information or book further COVID-19 tests.</p>

      <p>If you can prove who you are or be matched to your NHS record, you will be able to do a lot more. You will get full access to the NHS App and a wider choice of other digital health and care services.</p>

      <p><a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/websites-and-apps-you-can-access-with-nhs-login/">See the full list of websites and apps that you can access with NHS login.</a></p>


      <h1 class="nhsuk-heading-m">
        Do more with the NHS App
      </h1>

      <p>Owned and run by the NHS, the NHS App is a simple and secure way to access a range of NHS services on your smartphone or tablet.</p>
      <p>With full access to the NHS App you can:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>book and manage GP appointments</li>
        <li>order repeat prescriptions</li>
        <li>view your health record securely</li>
        <li>demonstrate your COVID-19 status using the NHS COVID Pass</li>
      </ul>

      <a href="https://www.nhs.uk/nhs-app/">
        <button class="nhsuk-button full-width" id="button--save">Find out more about the NHS App</button>
      </a>

      <p>Find out more about the NHS App at <a href="https://www.nhs.uk/nhs-app/">nhs.uk/nhs-app</a>.</p>

      <p>Or you can visit the App Store or Google Play and search NHS App.</p>

      
      
    <div class="nhsuk-u-padding-bottom-4"></div>

    <hr class="nhsuk-section-break nhsuk-section-break--visible">

    </div>
    
    <div class="nhsuk-grid-column-full" style="background-color:#f0f4f5;">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-u-padding-bottom-4"></div>

          <h1 class="nhsuk-heading-m">
            Update your NHS login settings
          </h1>

          <p>Update your email address, phone number, or password in your <a href="https://settings.login.nhs.uk/">NHS login settings</a>.</p>

        </div>

        <div class="nhsuk-u-padding-bottom-4"></div>

        <div class="nhsuk-grid-column-one-half">

          <h2 class="nhsuk-heading-m">
            Get help
          </h2>

          <p>Having problems setting up your NHS login? Find guidance and support on our <a href="https://help.login.nhs.uk/">Help centre</a>.</p>

        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible">

      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block footer %}

  <div class="nhsuk-u-padding-bottom-4"></div>

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-column-full">
      <p><br>
        Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS.UK login page</a> to find out more about it.</p>
        <p><br>The NHS App is FREE
        <br>The NHS COVID Pass is FREE
        <br>The NHS will NEVER ask for payment or any financial details
        <br>The NHS will NEVER issue fines or penalties relating to your NHS COVID Pass</p>
        </div>
      </div>
  </div>
{% endblock %}
