      <!-- Add your content here -->

{% block content %}
<a href="https://www.nhs.uk">
          <svg xmlns="http://www.w3.org/2000/svg" role="presentation"
            focusable="false" viewBox="0 0 40 16">
            <path fill="#005eb8" d="M0 0h40v16H0z"></path>
            <path fill="#fff"
              d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
            </path>
          </svg>
  </a>
<section>
<h1>Do more with NHS login</h1>
<p>Use your NHS login to access lots of different digital health and care services including the NHS App.</p>
<p>You set up your NHS login on 06/09/21 to access a <strong>Covid-19 Digital testing service</strong>.</p>

<p>We have sent you this email because you have already set up your NHS login. You may have done this when you ordered a lateral flow test or booked a PCR test.</p>
<p>At present, your NHS login has a verified email address, password, and phone number. This allows you to do basic tasks, like read your general medical information or book further COVID-19 tests.</p>
<p>If you are able to complete a few more simple registration steps, you will be able to access a wider choice of health and care apps and websites. This will give you greater control and visibility of your health.</p>

<h2>Do more with the NHS App</h2>
<p>You can use your NHS login to access the NHS App. Owned and run by the NHS, the NHS App is a simple and secure way to access a range of NHS services on your smartphone or tablet.</p>
<p>You can:</p>
      <ul>
        <li>book and manage GP appointments</li>
        <li>order repeat prescriptions</li>
        <li>view your health record securely</li>
        <li>demonstrate your COVID-19 status using the NHS COVID Pass</li>
      </ul>

<p>To do these things and more, you will need to prove who you are or be matched to your NHS record. If you follow the steps to prove who you are, you will get full access to the NHS App. This includes your NHS COVID Pass for services including travel and some domestic events.</p>

<a href="https://www.nhs.uk/nhs-app/">
  <button class="nhsuk-button full-width" id="button--save">Find out more about the NHS App</button>
</a>

<p><a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/websites-and-apps-you-can-access-with-nhs-login/">See the full list of websites and apps that you can access with NHS login.</a></p>

<h2>Update your NHS login settings</h2>
<p>Update your email address, phone number, or password in your <a href="https://settings.login.nhs.uk/">NHS login settings</a>.</p>

<h2>Help centre</h2>
<p>Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS.UK login page</a> for more information.</p>
  <a href="https://www.nhs.uk">
          <svg xmlns="http://www.w3.org/2000/svg" role="presentation"
            focusable="false" viewBox="0 0 40 16">
            <path fill="#005eb8" d="M0 0h40v16H0z"></path>
            <path fill="#fff"
              d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
            </path>
          </svg>
  </a>
 </section>
 {% endblock %}