{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your NHS number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a onclick="goBack()" class="nhsuk-back-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Back to: Do you know your NHS number</a>
    </div>


    <form action="enter-dob">
      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="nhs-number">
            Enter your NHS number
          </label>
        </h1>
        <span class="nhsuk-hint" id="nhs-number-hint">
          Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, <span
            class="nhsuk-u-nowrap">485 777 3456</span>.
        </span>
        <input class="nhsuk-input nhsuk-input--width-20" id="nhs-number" name="nhs-number" type="text"
          aria-describedby="nhs-number-hint">
      </div>
      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>
      <input style="display: none;" class="nhsuk-input nhsuk-input--width-20" id="know-nhs-number"
        name="know-nhs-number" value="{{ data['know-nhs-number'] }}">
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-nhs-number-digits-exceeded">>10 digits entered</a></li>
          <li><a href="../errors/error-nhs-number-field-validation">No NHS number on record</a></li>
          <li><a href="../errors/error-nhs-number-no-input">No user input</a></li>
          <li><a href="../errors/error-nhs-number-national-insurance">National insurance number input</a></li>
          <li><a href="../errors/error-nhs-number-numbers-and-letters">More or less than 10 numbers and includes letters</a></li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

{% endblock %}