<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask NHS App</title>
    <meta name="description" content="Ask NHS App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ask-nhs.css">
  </head>
  <body class="start">

    <form action="/set-up/v5-b/enter-email?p5=true">

    <div id="popup">
      <div class="content-popup">
        <h2>Looks like you're viewing this on a desktop</h2>
        <p>For a better experience you will need to switch to mobile view.</p>
        <a onclick="desktopPopup()" href="#">Dismiss</a>
      </div>
    </div>

    <img style="margin-top: 24px;" src="/images/ask-nhs-img.png" width=200px; height=auto>

    <h1>Welcome to Ask NHS</h1>

    <p>I'm Olivia, your virtual health assistant. How are you feeling today? Here to provide personalised health and care advice when you need it.</p>

    <button class="primary" action="submit">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16" width="50px" height="20px; style="top: 8px;">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      <span style="padding-left: 8px;">Register with NHS login</span>
    </button>

  </form>

    <button onclick="window.location.href = 'sensely-sign-in?signIn=true&optionB=true';" class="secondary">SIGN IN</button>

    <p>Powered by <span><img class="sensley" width=100px; height=auto; src="/images/sensley.png"></span></p>
    
    <script>
      function desktopPopup() {
        document.getElementById("popup").style.display = "none";
      }
    </script>

  </body>
</html>












