<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl">
      NHS login prototypes
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Research prototypes</h1>
    <p class="nhsuk-body-m">Collection of research prototypes for remote / lab sessions.</p>

    <details class="nhsuk-details nhsuk-expander version-list">
      <summary class="nhsuk-details__summary details-index">
        <span class="nhsuk-details__summary-text">
          Thur 24th and Fri 25th September 2020 research sessions
        </span>
      </summary>
      <div class="nhsuk-details__text version-text">
        <br>
        <!-- Reg and p5 prototypes -->
        <p class="nhsuk-body nhsuk-u-font-weight-bold">Registration + p5 prototypes</p>
        <ul>
          <li>
            <p><a href="/research-prototypes/thur24-fri25-sep20/regv7-to-p5/enter-email">Registration + P5 + No match x3 + PYI option screen + PYI</a></p>
          </li>
          <li>
            <p><a href="/p5/p5-p9-uplift/user-profile">User profile (p5 to p9 uplift)</a></p>
          </li>
        </ul>
        <!-- Help centre prototypes -->
        <p class="nhsuk-body nhsuk-u-font-weight-bold">Help centre prototypes</p>
        <ul>
          <li>
            <p><a href="#">Error message CID 2001 starting point</a></p>
          </li>
          <li>
            <p><a href="#">Email verification starting point CID3002</a></p>
          </li>
        </ul>
      </div>
    </details>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l"> NHS login registration</h1>
    <p class="nhsuk-body-m">Redesigning a slicker, improved registration process for new users</p>
    <ul>
      <li>
        <p><a href="/set-up/v7/enter-email">Latest version (v.7)</a></p>
      </li>
    </ul>

    <details class="nhsuk-details nhsuk-expander version-list">
      <summary class="nhsuk-details__summary details-index">
        <span class="nhsuk-details__summary-text">
          Versions
        </span>
      </summary>
      <div class="nhsuk-details__text version-text">
        <table>
          <tbody>
            <tr>
              <th><strong>Version</strong></th>
              <th><strong>Details</strong></th>
              <th><strong>Description</strong></th>
            </tr>
            <tr>
              <th><a href="/set-up/v1/enter-email">v1</a></th>
              <td>No research - incomplete prototype</td>
              <td>Initial effort by CB</td>
            </tr>
            <tr>
              <th><a href="/set-up/v2/login-yes-no">v2</a></th>
              <td>Pop-up research at Leeds Beckett and Holbeck One Stop (19 & 20 Sept). 24 participants</td>
              <td>Testing usability, one vs two password entries</td>
            </tr>
            <tr>
              <th><a href="/set-up/v3/login-yes-no">v3</a></th>
              <td>Pop-up research with 2 ESL users and 1 ESL user with cognitive impairment</td>
              <td>Iterations on research (password field and HMW content)</td>
            </tr>
            <tr>
              <th><a href="/set-up/v4/enter-email">v4</a></th>
              <td>Pop-up research December 17th at Leeds library</td>
              <td>Researched 'remove log in' and email first</td>
            </tr>
            <tr>
              <th><a href="/set-up/v5/enter-email">v5</a></th>
              <td>Latest prototype Will Hepworth (Previous UX) worked on</td>
              <td>Included full reg journey, p5 test scenarios have been completed</td>
            </tr>
            <tr>
              <th><a href="/set-up/v5-a/enter-email">v5-a</a></th>
              <td>[Include summarised research notes from v5-a here]</td>
              <td>[Include summarised research notes from v5-a here]</td>
            </tr>
            <tr>
              <th><a href="/set-up/v5-b/enter-email">v5-b</a></th>
              <td>[Include summarised research notes from v5-b here]</td>
              <td>[Include summarised research notes from v5-b here]</td>
            </tr>
            <tr>
              <th><a href="/set-up/v6/enter-email">v6</a></th>
              <td>Account recovery flow update</td>
              <td>Account recovery journey pages updated to the new front-end NHS styles</td>
            </tr>
            <tr class="latest">
              <th><a href="/set-up/v7/enter-email">v7</a></th>
              <td>Enter email page updated</td>
              <td>Adjusted content as well as a COVID-19 callout</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
    

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">
    <h1 class="nhsuk-heading-l">Alternative OTP solution</h1>
    <ul>
      <li>
        <p><a href="/set-up/alt-OTP-solution-new-user/enter-email">Alternative OTP Solution - New User</a></p>
      </li>
      <li>
        <p><a href="/set-up/alt-OTP-solution-existing-user/enter-email">Alternative OTP Solution - Existing User</a></p>
      </li>
    </ul>

    <h1 class="nhsuk-heading-l"> Mid-level proofing journey</h1>
    <ul>
      <li>
        <p><a href="/set-up/demo/enter-email?p5=true">Generic flow (for demo purposes)</a></p>
      </li>
      
      <li>
        <p><a href="/set-up/vsps-reg-p5-plugin/enter-email?p5=true">The Vulnerable Shielding Person Service (Reg flow + p5 plugin)</a></p>
        <!--
          Another hippo team are wanting to plug into the NHS login registration flow as well as the p5 flow as part of their user joureny. The end to end journey starts from the enter email screen and finishes on the auth consent screen. The demo prototype hangs on the second spinner page and is not ideal for the other team to use in UR. This link has been created to facilitate their needs, I've created a new folder in the setup parent folder called 'demo-b-to-auth-consent' which doesnt interfier with any other prototype links, as well as creating 'to-auth-consent' in the p5 folder. All this work was requested and done on the 15th June 2020. Hippo team contact: John Maher, project: Shielded Vulnerable Person Service
        -->
      </li>
      
      <li>
        <p><a href="/p5/p5-p9-uplift/know-nhs-number">p5 to p9 uplift</a></p>
      </li>
      
      <li>
        <p><a href="/p5/sensely-start?p5=true&serviceName=sensely">Start from the Ask NHS App (Sense.ly)</a></p>
      </li>
      
      <li>
        <p><a href="/p5/sensely-start-b?p5=true&serviceName=sensely">Start from the Ask NHS App (What you need)</a>
        </p>
      </li>
     
      <li>
        <p><a href="http://nhs-cid.herokuapp.com/start/v12/nhs-app-start">Start from NHS App</a></p>
      </li>
    </ul>

    <details class="nhsuk-details nhsuk-expander version-list">
      <summary class="nhsuk-details__summary details-index">
        <span class="nhsuk-details__summary-text">
          Versions
        </span>
      </summary>
      <div class="nhsuk-details__text version-text">
        <table>
          <tbody>
            <tr>
              <th><strong>Version</strong></th>
              <th><strong>Research</strong></th>
              <th><strong>What was new</strong></th>
            </tr>
            <tr>
              <th><a href="/p5/sensely-start?p5=true">v1</a></th>
              <td>Research conducted early January <br>(remote sessions)</td>
              <td>Initial proof of concept</td>
            </tr>
            <tr>
              <th><a href="/p5/sensely-start?p5=true">v2</a></th>
              <td>Pop-up research conducted 21/1/20 at One Health Lewisham with <b>Ask NHS App</b></td>
              <td>Reworded NHS number radios, changed flow of sign-in / register</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Errors</h1>
    <ul>
      <li>
        <p class="nhsuk-body-m">
          <a href="set-up/errors/reg-front-end-errors">Registration front-end errors</a>
        </p>
      </li>
      <li>
        <p class="nhsuk-body-m">
          <a href="set-up/errors/p5-front-end-errors">P5 front-end errors</a>
        </p>
      </li>
      <li>
        <p class="nhsuk-body-m">
          <a href="set-up/errors/account-recovery-front-end-errors">Account recovery front-end errors</a>
        </p>
      </li>
    </ul>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l"> NHS login email</h1>
    <p class="nhsuk-body-m">Part of the work done regarding the NHS login value proposition piece</p>
    <ul>
      <li>
        <p><a href="/emails/email-login-info">Current version</a></p>
      </li>
    </ul>

    <details class="nhsuk-details nhsuk-expander version-list">
      <summary class="nhsuk-details__summary details-index">
        <span class="nhsuk-details__summary-text">
          Versions
        </span>
      </summary>
      <div class="nhsuk-details__text version-text">
        <table>
          <tbody>
            <tr>
              <th><strong>Version</strong></th>
              <th><strong>Research</strong></th>
              <th><strong>What was new</strong></th>
            </tr>
            <tr>
              <th><a href="/email/v1/email-login-info">v1</a></th>
              <td>Researched 17 July 2019 <br>(pop-up at Leeds Library)</td>
              <td>Content iterations</td>
            </tr>
            <tr>
              <th><a href="/email/v2/email-login-info">v2</a></th>
              <td>Researched 18 July 2019 <br>(pop-up at Leeds Library)</td>
              <td>Content iterations</td>
            </tr>
            <tr>
              <th><a href="/emails/email-login-info">Current version</a></th>
              <td>No research planned<br></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr>

    <h1 class="nhsuk-heading-l"> Miscellaneous</h1>

    <p class="nhsuk-body-m"><a href="/v1/set-up/have-login">Live flow in new styles</a></p>
    <p class="nhsuk-body-m"><a href="/nhs-uk/NHS-login-info">NHS.UK login info page</a><p>

    <div class="nhsuk-u-padding-bottom-9"></div>

  </div>

  <div class="nhsuk-grid-column-one-quarter">
    <h2>Useful links</h2>
    <ul>
      <li><a href="../help/design">Design guidelines and support</a></li>
      <li><a href="../help/prototypes">NHS login prototypes</a></li>
      <li><a href="../help/documentation">Documentation</a></li>
    </ul>
  </div>

</div>

{% endblock %}