{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="register-create-password" autocomplete="on">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Enter your email address
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="emailAddress">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress"
            value="{{ data['emailAddress'] }}" type="email">
        </div>
        <a>
          <button data-redirect="register-account-creation-alert" class="nhsuk-button full-width"
            id="button--save">Continue</button>
        </a>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <h2>What is NHS login?</h2>
          <p>You can use your NHS login to access health websites and apps that have the NHS login button. If you do not have an NHS login, enter your email address to set one up.</p>
        </div>
      </fieldset>
      <div class="nhsuk-warning-callout  nhsuk-u-margin-top-3">
        <h3 class="nhsuk-warning-callout__label">Coronavirus (COVID-19)</h3>
        <p>For health information and advice, read <a href="#" class="nhsuk-link">NHS guidance about Coronavirus</a></p>
      </div>
    </form>

    {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      window.location.href = target.dataset.redirect;
    }, 2000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
</script>

{% endblock %}