{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
        Create a password
      </h1>

      <form action="/set-up/have-login" method="post">

        {{ input({
          "label": {
            "text": "New password"
          },
            "hint": {
              "html": "<span>Your password must have:</span><ul style='margin-top:0.6em;'><li>8 characters or more</li><li>1 capital letter or more</li></ul>"
          },
            "id": "input-width-20",
            "name": "test-width-20",
            "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}