{% extends 'layouts/layout.html' %}

{% block pageTitle %}
We cannot find a match
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">

        <h1 class="nhsuk-heading-l">
          We have already matched you to your NHS record
        </h1>

        <p>We only need to match you to your NHS record once.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Do you want to match another person to their NHS record?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>To match another person to their NHS record on this device, log out of <b>CLIENT</b> and set up a new NHS login with their details.</p>
            </div>
          </details>
        

            <button class="nhsuk-button full-width" type="submit">
            Continue to "CLIENT"
            </button>
        </form>

    </div>
</div>

{% endblock %}