{% extends 'layouts/layout.html' %}

{% block pageTitle %}
We cannot find a match
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">

        <h1 class="nhsuk-heading-l">
            Your account has already been verified/ you already have an account
        </h1>

        <p>You have already completed these registration steps.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                I want to register for someone else
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>To register an account for someone else on this device, log out of “CLIENT” and set up NHS login again</p>
            </div>
          </details>
        

            <button class="nhsuk-button full-width" type="submit">
            Continue to "CLIENT"
            </button>
        </form>

    </div>
</div>

{% endblock %}