{% extends 'layouts/layout.html' %}
{% from 'card/macro.njk' import card %}

{% block pageTitle %}
Your NHS login has been disabled
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">

        <h1 class="nhsuk-heading-l">
            Your NHS login has been disabled
        </h1>

        <p>This may be because your information has errors or it is being used by someone else.</p>
        

        {{ card({
          "heading": "Get help",
          "headingLevel": "3",
          "descriptionHtml": "<p class=\"nhsuk-card__description\"><a href=\"#\">Contact us</a> so we can try to fix the problem.</p>"
        }) }} 

    </div>
</div>

{% endblock %}