{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Something went wrong
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
        Something went wrong
      </h1>

      <p>We’re very busy at the moment, so we cannot check the details you entered.</p>
      <p>You can try again later, or <a href="../know-nhs-number">continue using your NHS number</a>.</p>
        
      <div class="nhsuk-u-padding-bottom-4"></div>

    </div>
  </div>

{% endblock %}
