{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Something went wrong
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">

    <h1 class="nhsuk-heading-l">
      We cannot log you in
    </h1>

    <p>Please email us so we can try to fix the problem.</p>
    <p style="margin-bottom: 0px;">Email:<br>
      <a href="#" class="nhsuk-body">ssd.nationalservicedesk@nhs.net</a></p>
    <div class="nhsuk-u-padding-bottom-3"></div>
    <p>Include this code in your email:<br><i>CID2011</i></p>
    <!--<p>Send an email to <a href="mailto:help.nhslogin@nhs.net@nhs.net?subject=NHS%20login%20-%20CID2012">help.nhslogin@nhs.net</a> with the code <b>CID2012</b></p>
      <p>We will then try to fix the problem for you.</p>-->

  </div>
</div>

{% endblock %}