{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your NHS number
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#pyi-id">You need to select what you would like to do next</a>
            </li>
          </ul>
        </div>
      </div>

    <form action="#" method="POST">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="confirm-details">
            We still cannot find a match
          </label>
        </h1>

        <p class="nhsuk-body">We cannot match you to an NHS record using the details you have given.</p>
        <p class="nhsuk-body">We may be able to match you to an NHS record if you can prove who you are.</p>

        <div class="nhsuk-form-group nhsuk-form-group--error">

            <fieldset class="nhsuk-fieldset" aria-describedby="example-error-hint example-error-error">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h3 class="nhsuk-heading-m">What do you want to do next?</h3>
              </legend>

              <span class="nhsuk-error-message" id="example-error-error">
                <span class="nhsuk-u-visually-hidden">Error:</span> Select what you would like to do next
              </span>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="pyi-id" name="p9-uplift-option-radio" type="radio" value="pyi-id">
                    <label class="nhsuk-label nhsuk-radios__label" for="pyi-id">
                      Prove who you are with photo I.D.
                    </label>
                </div>
          
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="pyi-no-id" name="p9-uplift-option-radio" type="radio" value="pyi-no-id">
                    <label class="nhsuk-label nhsuk-radios__label" for="pyi-no-id">
                      Prove who you are without using photo I.D.
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="enter-details-again" name="p9-uplift-option-radio" type="radio" value="enter-details-again">
                    <label class="nhsuk-label nhsuk-radios__label" for="enter-details-again">
                        Go back and enter your details again
                    </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>

        <button class="nhsuk-button full-width" type="submit">
          Continue
        </button>
        
    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Errors</p>
        <ul>
          <a href="../errors/..."></a>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

{% endblock %}