{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Error: What is your postcode?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a onclick="goBack()" class="nhsuk-back-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Back to: Enter your date of birth</a>
    </div>

    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list">
          <li>
            <a href="#postcode-field-validation">Check you have entered your postcode correctly</a>
          </li>
        </ul>
      </div>
    </div>

    <form method="submit" action="../demo/auth">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              What is your postcode?
            </h1>
          </legend>

          <div class="nhsuk-form-group nhsuk-form-group--error">
            <span class="nhsuk-hint">
              You must enter the postcode you registered with your GP surgery.
            </span>
            <span class="nhsuk-error-message" id="postcode-field-validation">
              <span class="nhsuk-u-visually-hidden">Error:</span>Check you have entered your postcode correctly
            </span>
            <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text">
          </div>

        </fieldset>
      </div>
      <button class="nhsuk-button full-width" type="submit">
        Submit information
      </button>
    </form>
  </div>
</div>

{% endblock %}