{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">
      Enter your security code
    </h1>

    <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You have been sent a new security code.</p>
      </div>

    <p>Enter the 6 digit security code we have sent you to your NHS login email address.</p>

    <p>
      <a href="register-enter-phone">Send by text message instead.</a>
    </p>

    <form action="auth" method="post">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Security code
        </label>
        <span class="nhsuk-hint" id="example-with-hint-text-hint">
          The code is 6 numbers
        </span>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text" name="otp"
          type="number" aria-describedby="security-code-input">
      </div>

      <p class=" nhsuk-body">
        If you did not receive a security code, <a href="register-enter-OTP-resend">request a new security code to your NHS login email address.</a>
      </p>

      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>

    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Account recovery</p>
        <ul>
          <li><a href="login-enter-OTP-recovery">Account recovery link</a></li>
        </ul>

        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-login-OTP-be-generic">Generic back-end error (OTP expired)</a></li>
          <li><a href="../errors/error-login-OTP-no-input">No input</a></li>
          <li><a href="../errors/error-login-OTP-regex">Field validation</a></li>
          <li><a href="../errors/error-login-OTP-incorrect">Incorrect OTP</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>

{% endblock %}