{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
        "href": "register-check-email-OTP",
        "text": "Back to: Check the email we have sent you"
      }) }}

    <h1 class="nhsuk-fieldset__legend--l">
      Enter your security code
    </h1>

    <p class="nhsuk-body-m">Enter the 6 digit <a href="../../emails/email-security-code" style="color: #212b32; text-decoration: none;">security code</a> we have sent you to <b>mail@mail.com</b></p>

    <p class="govuk-body">
      <a href="register-enter-phone">Send by text message instead</a>
    </p>

    <form>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Security code
        </label>
        <span class="nhsuk-hint">The code is 6 numbers</span>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text" name="otp"
          type="number" aria-describedby="security-code-input">
      </div>

      <a class="nhsuk-button full-width" href="auth">Continue</a>

      <h3 class="nhsuk-heading-m">Did not receive the security code?</h3>

      <p class=" nhsuk-body">
        <a href="register-check-email-OTP-reattempt">Send a new security code to your email</a>
      </p>

    </form>

    {% if data['devMode'] %}
    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Emails</p>
        <ul>
          <li><a href="../../emails/email-security-code">Security code email</a></li>
        </ul>
        <p>Errors</p>
        <ul>
          <li><a href="../errors/error-register-OTP-be-generic">Generic back-end error (OTP expired)</a></li>
          <li><a href="../errors/error-register-OTP-no-input">No input</a></li>
          <li><a href="../errors/error-register-OTP-regex">Incorrect format</a></li>
          <li><a href="../errors/error-register-OTP-incorrect">Incorrect OTP</a></li>
          <li><a href="../errors/error-login-OTP-attempts-exceeded">OTP attempts exceeded</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

  </div>
</div>

{% endblock %}