
{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  What is your postcode?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    <form method="submit" action="submit-information">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              What is your postcode?
            </h1>
          </legend>
      
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              This must be the same postcode that is registered with your GP
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text">
          </div>

        </fieldset>
      </div>
      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}










