<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask NHS App</title>
    <meta name="description" content="Ask NHS App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ask-nhs.css">
  </head>
  <body >

    <img src="/images/ask-nhs-img.png" width=200px; height=auto>

    <h1>Welcome to Ask NHS</h1>

    <p>I'm Olivia, your virtual health assistant. How are you feeling today? Here to provide personalised health and care advice when you need it.</p>

    <a href="../set-up/v4/enter-email?p5=true">
      <img class="button" src="/images/ContinueWithLogin.svg" width=300px; height=auto;>
    </a>

    <button class="secondary">SIGN IN</button>

    <p>Powered by <span><img class="sensley" width=100px; height=auto; src="/images/sensley.png"></span></p>
    
  
    <script src="" async defer></script>
  </body>
</html>












