<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask NHS App</title>
    <meta name="description" content="Ask NHS App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ask-nhs.css">
    <script src="https://kit.fontawesome.com/96c849e0f5.js" crossorigin="anonymous"></script>
  </head>
  <body >

    <img src="/images/sensley-home.png" width=100%; height=auto>

    <button class="secondary home"><i class="fas fa-briefcase-medical"></i>Symptom checker</button>
    <button class="secondary home"><i class="far fa-heart"></i>Self care</button>
    <button class="secondary home"><i class="fas fa-map-marker-alt"></i>Service finder</button>
    <button class="secondary home"><i class="far fa-clock"></i>Appointment booking</button>
    <button class="secondary home"><i class="far fa-comment-alt"></i>About ask NHS</button>

    <p>Powered by <span><img class="sensley" width=100px; height=auto; src="/images/sensley.png"></span></p>
    
  
    <script src="" async defer></script>
  </body>
</html>












