
{% extends 'layouts/layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
  Ask NHS App
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    <div class="nhsuk-panel panel--blue nhsuk-u-margin-top-4">
      <h1 class="nhsuk-heading-l">
        Thank you - we will check your information within two hours 
      </h1>
      <p>You need to go back to the NHS App to continue creating your NHS login.</p>

    </div>
  </div>
</div>

{% endblock %}










